<% is_create = %w(new create).include?(params[:action]) %>
<% # TODO use pure angularjs form %>
<% # TODO use sweet alert to confirm %>
<div class="row trip-form">
  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
    <%= form_for @trip, url: is_create ? trips_path : trip_path(@trip), html: ({'ng-controller' => 'TripEditController', 'ng-submit' => 'submit($event)', 'ng-init' => "initScope({\"last_day_index\" : #{trip_period(@trip, @original_trip)}, \"message\" : \"#{t('.confirm')}\", \"status\" : \"#{@trip.status_code}\", \"days_count\" : \"#{@trip.days_count || 1}\", \"dates_unknown\" : #{@trip.dates_unknown || false}})"} ) do |f| %>
        <%= hidden_field_tag :copy_from, params[:copy_from] %>
        <fieldset>
          <div class="form-header">
            <%= is_create ? t('.create_title') : t('.edit_title') %>
          </div>
          <div class="form-group">
            <%= f.label :name, class: 'control-label' %>
            <%= f.text_field :name, class: 'form-control input-lg', placeholder: t('.name_placeholder'), autofocus: 'true' %>
            <%= render 'common/error_message', object: f.object, field: :name %>
          </div>
          <%= f.hidden_field :status_code, class: 'control-label', value: '{{status}}' %>
          <div class="form-group">
            <div class="row trip-status">
              <% Trips::StatusCodes::ALL.each do |type| %>
                  <div class="col-md-4 col-sm-4 col-xs-4 status" ng-class="{active: status == '<%= type %>'}" ng-click="status = '<%= type %>'">
                    <div class="status-image">
                      <%= image_tag "plan/#{Trips::StatusCodes::TYPE_TO_ICON[type]}.svg" %>
                    </div>
                    <div class="status-header">
                      <%= I18n.t(Trips::StatusCodes::TYPE_TO_TEXT[type]) %>
                    </div>
                    <div class="status-description hidden-xs">
                      <%= t(".#{type}_help") %>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="form-group" ng-show="showDatesUnknown()">
            <%= f.check_box :dates_unknown, 'ng-model' => 'dates_unknown', 'ng-disabled' => '!showDatesUnknown()' %>
            <%= f.label :dates_unknown, class: 'control-label' %>
          </div>
          <div class="row" ng-hide="hideDates()">
            <div class="col-xs-12 col-sm-8 col-md-6">
              <div class="form-group date-picker-group">
                <%= f.label :start_date, class: 'control-label' %>
                <%= f.text_field :start_date, datepicker_options('start_date', f.object).merge(class: 'form-control input-lg', placeholder: t('.start_date_placeholder'), 'ng-disabled' => 'hideDates()', 'startdate' => '#travels_trip_end_date') %>
                <%= render 'common/error_message', object: f.object, field: :start_date %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6">
              <div class="form-group date-picker-group">
                <%= f.label :end_date, class: 'control-label' %>
                <%= f.text_field :end_date, datepicker_options('end_date', f.object).merge(class: 'form-control input-lg', placeholder: t('.end_date_placeholder'), 'ng-disabled' => 'hideDates()') %>
                <%= render 'common/error_message', object: f.object, field: :end_date %>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="hideDates()">
            <div class="days-count">
              <%= "#{t('activerecord.attributes.travels/trip.planned_days_count')}:" %>
              {{planned_days_count}}
            </div>
            <%= f.hidden_field :planned_days_count, value: '{{planned_days_count}}', 'ng-disabled' => 'hideDaysSlider()' %>
            <span max="30" min="1" ng-model="planned_days_count" slider="true" ticks="<%= [1, 6, 12, 18, 24, 30] %>"></span>
            <%= render 'common/error_message', object: f.object, field: :planned_days_count %>
          </div>
          <div class="form-group">
            <%= f.label :currency, class: 'control-label' %>
            <%= f.select :currency, options_for_select(CurrencyHelper.currencies_select_simple, @trip.currency || current_user.currency || CurrencyHelper::DEFAULT_CURRENCY), {}, {class: 'form-control'} %>
          </div>
          <div class="form-group">
            <%= f.label :short_description, class: 'control-label' %>
            <%= f.text_area :short_description, class: 'form-control', placeholder: t('.short_description_placeholder'), rows: 3 %>
          </div>
          <div class="form-group">
            <%= f.check_box :private %>
            <%= f.label :private, class: 'control-label' %>
          </div>
          <div class="form-actions text-right">
            <%= link_to t('.return'), is_create ? trips_path : trip_path(@trip), class: 'btn btn-primary btn-lg pull-left' %>
            <%= submit_tag t('.save'), class: 'btn btn-success btn-lg' %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>
