- content_for :title, t('.title')

- if user_signed_in?
  = link_to new_trip_path, class: 'btn btn-success btn-sm pull-right' do
    = fa_icon 'plus', text: t('.create')
  %ul.nav.nav-tabs
    %li{class: ('active' unless params[:my])}
      = link_to t('.all'), trips_path
    %li{class: ('active' if params[:my])}
      = link_to t('.my'), trips_path(my: true)

= render 'widgets/trips/grid', trips: @trips