- content_for :title, @trip.name
- @body_class = 'trip'

- content_for :page_javascript do
  %script{type: 'text/ng-template', id: 'userTemplate.html'}
    %a
      %img{'ng-src' => '{{match.model.photo_url}}', class: 'img-circle typeahead-profile-pic'}
      %span
        {{match.label}}

  %script{type: 'text/ng-template', id: 'citiesTemplate.html'}
    %a.flag-text
      %span{ 'ng-bind-html' => 'match.model.flag_image' }
      %span
        {{match.label}}

  %script{type: 'text/ng-template', id: 'invitePopover.html'}
    .form-group
      = render 'widgets/typeahead/users', model_name: 'selected_user', classes: 'form-control',
        placeholder: t('trips.show.type_name'), show_loading: false, custom_attrs: {'focus-on' => 'popover_opened'}


%div{'ng-controller' => 'PlanController'}
  .row
    .col-xs-12
      %h4
        = @trip.name
  .row.trip-dates
    .col-xs-12
      = @trip.start_date
      = "-"
      = @trip.days_count
      = t('common.days', count: @trip.days_count)

  - if user_signed_in?
    - if @user_can_edit
      .row.trip-links
        .col-xs-12
          = link_to edit_trip_path(@trip), class: 'trip-link' do
            = t('trips.show.edit_trip')

          - if @trip.author_user_id == current_user.id
            = link_to trip_path(@trip), class: 'trip-link', method: :delete,
                    'data-confirm'=> t('common.delete_confirm')  do
              = t('trips.show.delete_trip')


  .row.trip-header
    .col-xs-4.col-md-2
      .fileupload-form{'ng-mouseleave' => 'mouse_over_image = false',
           'ng-mouseenter' => 'mouse_over_image = true'}
        - if @user_can_edit
          = form_for @trip, url: upload_photo_trip_path(@trip), method: :post, multipart: true, remote: true do |f|
            = f.hidden_field :remove_image, value: 'true'
            = link_to '', class: 'delete-trip-image-button delete-image', 'ng-show' => 'mouse_over_image',
                'data-confirm' => t('.delete_photo_cofirm') do
              = fa_icon 'times'

          = form_for @trip, url: upload_photo_trip_path(@trip), method: :post, multipart: true do |f|
            = f.file_field :image, class: 'fileupload'
            = link_to 'javascript:void(0)', class: 'upload-trip-image-button upload-link',
              'ng-show' => 'mouse_over_image' do
              = fa_icon 'upload'

        %img{id: 'trip_image', src: @trip.image_url_or_default, width: '100%', class: 'trip-image'}

      .progress-wrapper
        .progress
          .progress-bar{role: "progressbar"}

      .photo-processing
        %i.fa.fa-spinner.fa-spin
        = t('common.photo_processing')

    .col-xs-8.col-md-10
      .row
        .col-xs-12
          = render'trips/partials/participants'

      .row.tags
        .col-xs-12
          %span{class: "tag status-tag #{trip_status_class(@trip.status_code)}"}
            = @trip.status_text
      .row
        .col-xs-12



  .row.trip-description
    .col-xs-12
      %p.travel-text{} #{@trip.short_description}


  .work-area
    - if params[:tab].blank? || params[:tab] == ApplicationHelper::TAB_PLAN
      = render 'trips/tabs/plan'

    - if params[:tab] == ApplicationHelper::TAB_PLAN_ACTIVITIES
      = render 'trips/tabs/plan_activities'

    - if params[:tab] == ApplicationHelper::TAB_REPORT
      = render 'trips/tabs/report'

    - if params[:tab] == ApplicationHelper::TAB_CATERING
      = render 'trips/tabs/catering'
