- content_for :title, @trip.name
- @body_class = 'trip'

- content_for :page_javascript do
  %script{type: 'text/ng-template', id: 'userTemplate.html'}
    %a
      %img{'ng-src' => '{{match.model.photo_url}}', class: 'img-circle typeahead-profile-pic'}
      %span
        {{match.label}}

  %script{type: 'text/ng-template', id: 'invitePopover.html'}
    .form-group
      = render 'widgets/typeahead/users', model_name: 'selected_user', classes: 'form-control',
        placeholder: t('trips.show.type_name'), show_loading: false, custom_attrs: {'focus-on' => 'popover_opened'}


%div{'ng-controller' => 'PlanController',}
  .row
    .col-md-12
      %h4{class: "trip-name b-#{@trip.status_code}"}
        = @trip.name
        %small
          = l @trip.start_date, format: :month

  .row.trip-header
    .col-md-3.col-sm-3
      .fileupload-form{'ng-mouseleave' => 'mouse_over_image = false',
           'ng-mouseenter' => 'mouse_over_image = true'}
        - if @user_can_edit
          = form_for @trip, url: upload_photo_trip_path(@trip), method: :post, multipart: true, remote: true do |f|
            = f.hidden_field :remove_image, value: 'true'
            = link_to '', class: 'delete-trip-image-button delete-image', 'ng-show' => 'mouse_over_image',
                'data-confirm' => t('.delete_photo_cofirm') do
              = fa_icon 'times'

          = form_for @trip, url: upload_photo_trip_path(@trip), method: :post, multipart: true do |f|
            = f.file_field :image, class: 'fileupload'
            = link_to 'javascript:void(0)', class: 'upload-trip-image-button upload-link',
              'ng-show' => 'mouse_over_image' do
              = fa_icon 'upload'

        %img{id: 'trip_image', src: @trip.image_url_or_default, width: '100%', class: 'trip-image'}

      .progress-wrapper
        .progress
          .progress-bar{role: "progressbar"}

      .photo-processing
        %i.fa.fa-spinner.fa-spin
        = t('common.photo_processing')

    .col-md-9.col-sm-9
      .row
        .col-md-7.col-xs-12
          = render'trips/partials/participants', participants: @trip.users

        .col-md-5.col-xs-12
          .btn-toolbar.pull-right
            - if user_signed_in?
              - if @user_can_edit
                = link_to edit_trip_path(@trip), class: 'btn ghost-button', 'ng-disabled' => 'edit',
                'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.edit_trip') do
                  = fa_icon 'pencil'

                - if @trip.author_user_id == current_user.id
                  = link_to trip_path(@trip), class: 'btn ghost-button', method: :delete, 'ng-disabled' => 'edit',
                    'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.delete_trip'),
                    'data-confirm'=> t('common.delete_confirm')  do
                    = fa_icon 'times'

              = link_to "#{new_trip_path}?copy_from=#{@trip.id}", target: '_blank', class: 'btn ghost-button',
              'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.clone'),
              'ng-disabled' => 'edit' do
                = fa_icon 'copy'

            = link_to "#{trip_path(@trip)}.docx", target: '_blank', class: 'btn ghost-button',
              'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.download_word'),
              'ng-disabled' => 'edit' do
              = fa_icon 'file-word-o'

      %p.travel-text{} #{@trip.short_description}


  .work-area
    - if params[:tab].blank? || params[:tab] == ApplicationHelper::TAB_PLAN
      = render 'trips/tabs/plan'

    - if params[:tab] == ApplicationHelper::TAB_PLAN_ACTIVITIES
      = render 'trips/tabs/plan_activities'

    - if params[:tab] == ApplicationHelper::TAB_REPORT
      = render 'trips/tabs/report'

    - if params[:tab] == ApplicationHelper::TAB_CATERING
      = render 'trips/tabs/catering'
