- content_for :title, t('.title')

%div{class: 'row'}
  %div{class: 'col-md-3 col-sm-3'}
    %img{class: 'img-thumbnail', src: 'http://lorempixel.com/300/300/city/', width: '100%'}
  %div{class: 'col-md-9 col-sm-9'}
    - if user_signed_in? and @trip.include_user(current_user)
      %div{class: 'btn-toolbar pull-right'}
        = link_to edit_trip_path(@trip), class: 'btn btn-success' do
          = fa_icon 'pencil'

        - if @trip.author_user_id == current_user.id
          = link_to trip_path(@trip), class: 'btn btn-danger', method: :delete, 'data-confirm'=> t('common.delete_confirm') do
            = fa_icon 'times'

    %h3
      = @trip.name
      %small
        = l @trip.start_date, format: :month
    %p
      = @trip.short_description
    %h4
      = t('.travellers')
    - @trip.users.each do |user|
      %p
        = link_to user.full_name, user_path(user)

%hr

- content_for :additional_content do
  %div{'ng-controller' => 'PlanController'}
    %div{class: 'container-full'}
      %table{class: 'table table-black-bordered fixed-head'}
        %thead
          %tr{class: 'plan-header'}
            %th{colspan: '6'}
              %div{class: 'container'}
                %div{class: 'row'}
                  %div{class: 'col-md-12'}
                    %h3{class: 'pull-left'}
                      = t('.plan')
                      %small
                        = t('.budget')
                        {{budget()}}
                        = fa_icon 'ruble'
                    %div{class: 'btn-toolbar'}
                      %a{href: 'javascript:void(0);', 'ng-click' => 'setEdit(true)', class: 'btn btn-primary pull-right btn-sm', 'ng-show' => '!edit'}
                        = fa_icon 'edit', text: t('.edit_plan')
                      %a{href: 'javascript:void(0);', 'ng-click' => 'setEdit(false)', class: 'btn btn-primary pull-right btn-sm', 'ng-show' => 'edit'}
                        = fa_icon 'eye', text: t('.show_plan')
                      %a{href: 'javascript:void(0);', 'ng-click' => 'savePlan()', class: 'btn btn-success pull-right btn-sm', 'ng-show' => '!saving'}
                        = fa_icon 'save', text: t('.save_plan')
                      %div{class: 'btn btn-success pull-right btn-sm', 'ng-show' => 'saving'}
                        %i{class: 'fa fa-spinner fa-spin'}
                        = t('.saving_plan')
          %tr
            %th{class: 'col-md-1'}
              = t('.day')
            %th{class: 'col-md-1'}
              = t('.place')
            %th{class: 'col-md-3'}
              = t('.transfers')
              %a{class: 'pull-right', href: 'javascript:void(0);', 'ng-click' => 'toggleTransfers()'}
                %span{'ng-show' => '!transfersCollapsed'}
                  = fa_icon 'arrow-down'
                %span{'ng-show' => 'transfersCollapsed'}
                  = fa_icon 'arrow-right'
            %th{class: 'col-md-2'}
              = t('.hotel')
            %th{class: 'col-md-2'}
              = t('.activities')
              %a{class: 'pull-right', href: 'javascript:void(0);', 'ng-click' => 'toggleActivities()'}
                %span{'ng-show' => '!activitiesCollapsed'}
                  = fa_icon 'arrow-down'
                %span{'ng-show' => 'activitiesCollapsed'}
                  = fa_icon 'arrow-right'
            %th{class: 'col-md-3'}
              = t('.comments')

        %tbody
          %tr{'ng-repeat' => 'day in days'}

            %td
              {{day.date}}

            %td
              %div{'ng-show' => '!edit', 'ng-repeat' => 'place in day.places'}
                %p
                  {{place.city_text}}

              %div{'ng-show' => 'edit'}

                %div{'ng-repeat' => 'place in day.places', class: 'day-place-container relative-position'}
                  %a{href: 'javascript:void(0);',  class: 'up-button',
                    'ng-click' => 'fillAsPreviousPlace(place, $index, day, $parent.$index)',
                    'ng-show' => '($index > 0 || $parent.$index >0) && !place.city_code'}
                    = fa_icon 'arrow-up'

                  %a{href: 'javascript:void(0);', 'ng-click' => 'remove(day.places, $index)', 'ng-show' => '$index > 0',
                    class: 'delete-button'}
                    = fa_icon 'times'
                  %div{class: 'form-group'}
                    = render 'widgets/typeahead/cities', model_name: 'place.city', classes: 'input-sm form-control', placeholder: t('.city')

                %div{class: 'form-group'}
                  %a{href: 'javascript:void(0);', class: 'btn btn-success btn-sm pull-right', 'ng-click' => 'add(day.places)'}
                    = fa_icon 'plus'

            %td
              %div{'ng-show' => '!edit', 'ng-repeat' => 'transfer in day.transfers'}
                = render 'trips/partials/show_transfer'

              %div{'ng-show' => 'edit'}
                %div{'ng-repeat' => 'transfer in day.transfers', class: 'form-horizontal'}
                  = render 'trips/partials/edit_transfer'
                %div{class: 'form-group pull-right'}
                  %a{href: 'javascript:void(0);', class: 'btn btn-success btn-sm', 'ng-click' => 'add(day.transfers, {"isCollapsed" : true})'}
                    = fa_icon 'plus'
            %td
              %div{'ng-show' => '!edit'}
                %p
                  {{day.hotel.name}}
                  %br
                  %span{'ng-show' => '!!day.hotel.price'}
                    {{day.hotel.price}}
                    = fa_icon 'ruble'
                %p
                  %i
                    {{day.hotel.comment}}
                %span{'ng-show' => '!!day.hotel.links'}
                  %p{'ng-repeat' => 'link in day.hotel.links'}
                    %a{href: '{{link.url}}'}
                      {{link.description}}


              %div{'ng-show' => 'edit', class: 'form-horizontal'}
                %div{class: 'form-group day-place-container relative-position'}
                  %div{class: 'col-md-12'}
                    = text_field_tag 'hotel_name', '', 'ng-model' => 'day.hotel.name', class: 'input-sm form-control', placeholder: 'Название'

                  %a{href: 'javascript:void(0);',  class: 'up-button',
                    'ng-click' => 'fillAsPreviousHotel(day.hotel, $index)',
                    'ng-show' => '$index >0 && !day.hotel.name'}
                    = fa_icon 'arrow-up'

                %div{class: 'form-group'}
                  %div{class: 'col-md-12'}
                    = render 'widgets/price', name: 'hotel_price', ng_model: 'day.hotel.price', placeholder: t('trips.show.price')
                %div{class: 'form-group'}
                  %div{class: 'col-md-12'}
                    = text_area_tag 'hotel_comment', '', 'ng-model' => 'day.hotel.comment', class: 'form-control', placeholder: t('trips.show.comment'), rows: 3

                %p
                  %u
                    = t('trips.show.links')

                %div{class: 'day-place-container relative-position', 'ng-repeat' => 'link in day.hotel.links'}
                  = render 'widgets/link', ng_model_descr: 'link.description', ng_model_url: 'link.url'
                  %a{href: 'javascript:void(0);', 'ng-click' => 'remove(day.hotel.links, $index)', 'ng-show' => '$index > 0',
                    class: 'delete-button'}
                    = fa_icon 'times'
                %div{class: 'form-group'}
                  %div{class: 'col-md-12'}
                    %a{href: 'javascript:void(0);', class: 'btn btn-success btn-sm pull-right', 'ng-click' => 'add(day.hotel.links)'}
                      = fa_icon 'plus'

            %td
              %div{'ng-show' => '!edit', 'ng-model' => 'day.activities', 'ui-sortable' => ''}
                %div{'ng-repeat' => 'activity in day.activities', class: 'region-grey'}
                  %span{'ng-click' => 'activity.isCollapsed = !activity.isCollapsed'}
                    %u{class: 'collapse-header'}
                      {{$index+1}}. {{activity.name}}
                    %span{'ng-show' => '!!activity.price'}
                      {{activity.price}}
                      = fa_icon 'ruble'
                  %div{collapse: 'activity.isCollapsed'}
                    %p{'ng-show' => '!!activity.comment'}
                      %i
                        {{activity.comment}}
                    %p
                      %a{href: '{{activity.link_url}}'}
                        {{activity.link_description}}

              %div{'ng-show' => 'edit'}
                %div{'ng-model' => 'day.activities', 'ui-sortable' => ''}
                  %div{'ng-repeat' => 'activity in day.activities', class: 'form-horizontal region-grey'}
                    %div{class: 'form-group relative-position day-activity-container'}
                      %div{class: 'col-md-1 activity-index'}
                        %big
                          {{$index+1}}
                      %div{class: 'col-md-10'}
                        = text_field_tag 'activity_name', '', 'ng-model' => 'activity.name', class: 'input-sm form-control',
                          placeholder: t('trips.show.activity.name')
                        %a{href: 'javascript:void(0);', 'ng-click' => 'activity.isCollapsed = !activity.isCollapsed', class: 'expand-button'}
                          %span{'ng-show' => 'activity.isCollapsed'}
                            = fa_icon 'arrow-right'
                          %span{'ng-show' => '!activity.isCollapsed'}
                            = fa_icon 'arrow-down'
                        %a{href: 'javascript:void(0);', 'ng-click' => 'remove(day.activities, $index)', class: 'delete-button'}
                          = fa_icon 'times'
                    %div{collapse: 'activity.isCollapsed'}
                      %div{class: 'form-group', collapse: 'isCollapsed'}
                        %div{class: 'col-md-12'}
                          = render 'widgets/price', name: 'activity_price', ng_model: 'activity.price', placeholder: t('trips.show.price')
                      %div{class: 'form-group'}
                        %div{class: 'col-md-12'}
                          = text_area_tag 'activity_comment', '', 'ng-model' => 'activity.comment', class: 'form-control', placeholder: t('trips.show.comment'), rows: 3
                      %div{class: 'form-group'}
                        %div{class: 'col-md-12'}
                          = render 'widgets/link', ng_model_descr: 'activity.link_description', ng_model_url: 'activity.link_url'

                %div{class: 'form-group pull-right'}
                  %a{href: 'javascript:void(0);', class: 'btn btn-success btn-sm', 'ng-click' => 'add(day.activities, {"isCollapsed" : true})'}
                    = fa_icon 'plus'

            %td
              %div{'ng-show' => '!edit'}
                %p
                  {{day.comment}}
                %p{'ng-show' => '!!day.add_price'}
                  {{day.add_price}}
                  = fa_icon 'ruble'

              %div{'ng-show' => 'edit', class: 'form-horizontal'}
                %div{class: 'form-group'}
                  %div{class: 'col-md-12'}
                    = text_area_tag 'day_comment', '', 'ng-model' => 'day.comment', class: 'form-control', placeholder: t('trips.show.comment'), rows: 6
                %div{class: 'form-group'}
                  %div{class: 'col-md-12'}
                    = render 'widgets/price', name: 'day_add_price', ng_model: 'day.add_price', placeholder: t('trips.show.price')

