- content_for :title, t('.title')

%div{class: 'row'}
  %div{class: 'col-md-3 col-sm-3'}
    %img{class: 'img-thumbnail', src: 'http://lorempixel.com/300/300/city/', width: '100%'}
  %div{class: 'col-md-9 col-sm-9'}
    - if user_signed_in? and @trip.include_user(current_user)
      %div{class: 'btn-toolbar pull-right'}
        = link_to edit_trip_path(@trip), class: 'btn btn-success' do
          = fa_icon 'pencil'

        - if @trip.author_user_id == current_user.id
          = link_to trip_path(@trip), class: 'btn btn-danger', method: :delete,
            'data-confirm'=> t('common.delete_confirm') do
            = fa_icon 'times'

    %h3
      = @trip.name
      %small
        = l @trip.start_date, format: :month
    %p
      = @trip.short_description
    %h4
      = t('.travellers')
    - @trip.users.each do |user|
      %p
        = link_to user.full_name, user_path(user)

%hr

- content_for :additional_content do
  %div{'ng-controller' => 'PlanController'}
    %div{class: 'container-full'}
      %table{class: 'table table-black-bordered fixed-head'}
        %thead
          %tr{class: 'plan-header'}
            %th{colspan: '6'}
              %div{class: 'container'}
                %div{class: 'row'}
                  %div{class: 'col-md-12'}
                    %h3{class: 'pull-left'}
                      = t('.plan')
                      %small
                        = t('.budget')
                        {{budget()}}
                        = fa_icon 'ruble'
                    = render 'trips/partials/buttons'

          %tr
            %th{class: 'col-md-1'}
              = t('.day')
            %th{class: 'col-md-1'}
              = t('.place')
            %th{class: 'col-md-2'}
              = t('.transfers')
              %a{class: 'pull-right', href: 'javascript:void(0);', 'ng-click' => 'toggleTransfers()'}
                %span{'ng-show' => '!transfersCollapsed'}
                  = fa_icon 'arrow-down'
                %span{'ng-show' => 'transfersCollapsed'}
                  = fa_icon 'arrow-right'
            %th{class: 'col-md-2'}
              = t('.hotel')
            %th{class: 'col-md-4'}
              = t('.activities')
              %a{class: 'pull-right', href: 'javascript:void(0);', 'ng-click' => 'toggleActivities()'}
                %span{'ng-show' => '!activitiesCollapsed'}
                  = fa_icon 'arrow-down'
                %span{'ng-show' => 'activitiesCollapsed'}
                  = fa_icon 'arrow-right'
            %th{class: 'col-md-2'}
              = t('.comments')

        %tbody
          %tr{'ng-repeat' => 'day in days'}
            %td
              {{day.date}}
            %td
              = render 'trips/partials/place'
            %td
              = render 'trips/partials/transfer'
            %td
              = render 'trips/partials/hotel'
            %td
              = render 'trips/partials/activity'
            %td
              = render 'trips/partials/comment'