- content_for :title, @trip.name

.row.trip-header
  .col-md-3.col-sm-3
    .fileupload-form{'ng-mouseleave' => 'mouse_over_image = false',
         'ng-mouseenter' => 'mouse_over_image = true'}
      - if @user_can_edit
        = form_for @trip, url: upload_photo_trip_path(@trip), method: :post, multipart: true, remote: true do |f|
          = f.hidden_field :remove_image, value: 'true'
          = link_to '', class: 'delete-trip-image-button delete-image', 'ng-show' => 'mouse_over_image',
              'data-confirm' => t('.delete_photo_cofirm') do
            = fa_icon 'times'

        = form_for @trip, url: upload_photo_trip_path(@trip), method: :post, multipart: true do |f|
          = f.file_field :image, class: 'fileupload'
          = link_to 'javascript:void(0)', class: 'upload-trip-image-button upload-link',
            'ng-show' => 'mouse_over_image' do
            = fa_icon 'upload'

      %img{class: 'img-thumbnail', id: 'trip_image',
        src: @trip.image_url_or_default,
        width: '100%'}

    .progress-wrapper
      .progress
        .progress-bar{role: "progressbar"}

    .photo-processing
      %i.fa.fa-spinner.fa-spin
      = t('common.photo_processing')

  .col-md-9.col-sm-9
    - if user_signed_in?
      .btn-toolbar.pull-right
        = link_to "#{new_trip_path}?copy_from=#{@trip.id}", target: '_blank', class: 'btn btn-info',
          'data-tooltip' => t('trips.show.clone') do
          = fa_icon 'copy'

        - if @user_can_edit
          = link_to edit_trip_path(@trip), class: 'btn btn-success',
            'data-tooltip' => t('trips.show.edit_trip') do
            = fa_icon 'pencil'

          - if @trip.author_user_id == current_user.id
            = link_to trip_path(@trip), class: 'btn btn-danger', method: :delete,
              'data-confirm'=> t('common.delete_confirm'), 'data-tooltip' => t('trips.show.delete_trip') do
              = fa_icon 'times'

    %h3
      = @trip.name
      %small
        = l @trip.start_date, format: :month

    %p.travel-text{} #{@trip.short_description}

    .well.well-sm.trip-status{class: trip_status_class(@trip.status_code)}
      %big
        = t('.status_code')
        = @trip.status_text
        - if @trip.private
          (#{t('mongoid.attributes.travels/trip.private')})

    %h4
      = t('.travellers')
    - @trip.users.each do |user|
      %p
        = link_to user.full_name, user_path(user)

%hr

- content_for :additional_content do
  %div{'ng-controller' => 'PlanController', 'ng-init' => "createDays(#{@trip.days.count})"}
    .container-full
      .row
        .col-md-1
          .row
            .col-md-4
            .col-md-8
              .show-column-checkboxes
                %ul{class: "list-group checked-list-box"}
                  %li{class: "list-group-item", 'data-style' => "button", 'data-color' => "grey",
                         'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('.place')}
                    %input{type: 'checkbox', class: 'hidden', 'ng-model' => 'show_place'}
                    = fa_icon 'map-marker'
                  %li{class: "list-group-item", 'data-style' => "button", 'data-color' => "grey",
                         'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('.transfers')}
                    %input{type: 'checkbox', class: 'hidden', 'ng-model' => 'show_transfers'}
                    = fa_icon 'car'
                  %li{class: "list-group-item", 'data-style' => "button", 'data-color' => "grey",
                         'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('.hotel')}
                    %input{type: 'checkbox', class: 'hidden', 'ng-model' => 'show_hotel'}
                    = fa_icon 'home'
                  %li{class: "list-group-item", 'data-style' => "button", 'data-color' => "grey",
                         'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('.activities')}
                    %input{type: 'checkbox', class: 'hidden', 'ng-model' => 'show_activities'}
                    = fa_icon 'university'
                  %li{class: "list-group-item", 'data-style' => "button", 'data-color' => "grey",
                         'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('.comments')}
                    %input{type: 'checkbox', class: 'hidden', 'ng-model' => 'show_comments'}
                    = fa_icon 'pencil'

        .col-md-10
          %table{class: 'table table-black-bordered fixed-head'}
            %thead
              %tr{class: 'plan-header'}
                %th{colspan: '6'}
                  %div{class: 'container'}
                    %div{class: 'row'}
                      %div{class: 'col-md-12'}
                        %h3{class: 'pull-left'}
                          = t('.plan')
                          %small
                            = t('common.budget')
                            {{budget()}}
                            = fa_icon 'ruble'
                        = render 'trips/partials/buttons'

              %tr
                %th{class: 'col-md-1'}
                  = t('.day')
                %th{class: 'col-md-1', 'ng-show' => 'show_place'}
                  = t('.place')
                %th{class: 'col-md-2', 'ng-show' => 'show_transfers'}
                  = t('.transfers')
                  %a{class: 'pull-right', href: 'javascript:void(0);', 'ng-click' => 'toggleTransfers()'}
                    %span{'ng-show' => '!transfersCollapsed'}
                      = fa_icon 'arrow-down'
                    %span{'ng-show' => 'transfersCollapsed'}
                      = fa_icon 'arrow-right'
                %th{class: 'col-md-2', 'ng-show' => 'show_hotel'}
                  = t('.hotel')
                %th{class: 'col-md-4', 'ng-show' => 'show_activities'}
                  = t('.activities')
                  %a{class: 'pull-right', href: 'javascript:void(0);', 'ng-click' => 'toggleActivities()'}
                    %span{'ng-show' => '!activitiesCollapsed'}
                      = fa_icon 'arrow-down'
                    %span{'ng-show' => 'activitiesCollapsed'}
                      = fa_icon 'arrow-right'
                %th{class: 'col-md-2', 'ng-show' => 'show_comments'}
                  = t('.comments')

            %tbody
              - @trip.days.each_with_index do |day, day_index|
                %tr{'ng-controller' => 'DaysController', 'ng-init' => "getDay('#{day.id}', #{day_index})", class: 'plan-row'}
                  %td
                    = day.date_when_s
                  %td{'ng-show' => 'show_place', 'ng-cloak' => '', 'ng-mouseleave' => 'mouse_over_place = false',
                                                 'ng-mouseenter' => 'mouse_over_place = true'}
                    = render 'trips/partials/place'
                  %td{'ng-show' => 'show_transfers','ng-cloak' => '', 'ng-mouseleave' => 'mouse_over_transfers = false',
                                                     'ng-mouseenter' => 'mouse_over_transfers = true'}
                    = render 'trips/partials/transfer'
                  %td{'ng-show' => 'show_hotel', 'ng-cloak' => '', 'ng-mouseleave' => 'mouse_over_hotel = false',
                                                 'ng-mouseenter' => 'mouse_over_hotel = true'}
                    = render 'trips/partials/hotel'
                  %td{'ng-show' => 'show_activities','ng-cloak' => '', 'ng-mouseleave' => 'mouse_over_activities = false',
                                                      'ng-mouseenter' => 'mouse_over_activities = true'}
                    = render 'trips/partials/activity'
                  %td{'ng-show' => 'show_comments', 'ng-cloak' => '', 'ng-mouseleave' => 'mouse_over_comments = false',
                                                    'ng-mouseenter' => 'mouse_over_comments = true'}
                    = render 'trips/partials/comment'
        .col-md-1

      .row
        .col-md-2
        .col-md-8
          = render 'trips/partials/after_trip'
        .col-md-2