<% content_for :title, @trip.name %>
<% @body_class = 'trip' %>
<% content_for :page_javascript do %>
    <script id="userTemplate.html" type="text/ng-template">
      <a>
        <img class="img-circle typeahead-profile-pic" ng-show="{{!!match.model.photo_url}}" ng-src="{{match.model.photo_url}}"/>
        <div class="{{match.model.color}} img-circle typeahead-profile-pic initials" ng-show="{{!match.model.photo_url}}">
          {{match.model.initials}}
        </div>
        <span>
        {{match.label}}
      </span>
      </a>
    </script>
    <script id="citiesTemplate.html" type="text/ng-template">
      <a class="flag-text">
        <span ng-bind-html="match.model.flag_image"></span>
        <span>
        {{match.label}}
      </span>
      </a>
    </script>
    <script id="invitePopover.html" type="text/ng-template">
      <div class="form-group invite-users-popover">
        <%= render 'widgets/typeahead/users', model_name: 'selected_user', classes: 'form-control', placeholder: t('trips.show.type_name'), custom_attrs: {'focus-on' => 'popover_opened'} %>
      </div>
    </script>
    <script id="daySortModal.html" type="text/ng-template">
      <%= render 'modals/days_sort_modal' %>
    </script>
    <script id="moveActivity.html" type="text/ng-template">
      <div class="days-info-popover" ng-controller="ActivityMovePopupController" ng-init="init(activity, day)">
        <div class="form-group">
          <%= select_tag 'day_select', options_from_collection_for_select(@days, :id, :date_when_s), class: 'form-control', 'ng-model' => 'target_day_id' %>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary btn-sm" ng-click="moveActivity()">
            <%= t('.reorder_days') %>
          </button>
        </div>
      </div>
    </script>

    <%= render 'components/trip/trip_image' %>
    <%= render 'components/trip/trip_description' %>
    <%= render 'components/trip/delete_link' %>
    <%= render 'components/trip/tabs/transfers' %>
    <%= render 'components/trip/tabs/activities' %>
    <%= render 'components/trip/tabs/report' %>
    <%= render 'components/trip/tabs/catering' %>
    <%= render 'components/prices/price' %>
    <%= render 'components/prices/price_input' %>
    <% if @user_can_edit %>
      <%= render 'components/trip/tabs/documents' %>
      <%= render 'components/trip/documents' %>
      <%= render 'components/trip/document' %>
    <% end %>
<% end %>

<div class="container" ng-controller="PlanController">
  <div class="row">
    <div class="col-xs-12">
      <h4>
        <%= @trip.name %>
      </h4>
    </div>
  </div>
  <div class="row trip-dates">
    <div class="col-xs-10 col-md-12">
      <%= trip_dates(@trip) %>
    </div>
    <div class="col-xs-2 hidden-sm hidden-lg hidden-md">
      <% if user_signed_in? %>
          <div class="dropdown plan-menu">
            <div class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag 'common/menu.svg' %>
            </div>
            <ul class="dropdown-menu dropdown-menu-right">
              <% if @user_can_edit %>
                  <li>
                    <%= link_to edit_trip_path(@trip), class: 'trip-link' do %>
                        <%= t('trips.show.edit_trip') %>
                    <% end %>
                  </li>
                  <% if @trip.author_user_id == current_user.id %>
                      <li>
                        <a href="javascript:void(0);" class="trip-link">
                          <trip-delete-link trip-id="<%= @trip.id %>"></trip-delete-link>
                        </a>
                      </li>
                  <% end %>
              <% end %>
              <li>
                <%= link_to "#{new_trip_path}?copy_from=#{@trip.id}", target: '_blank', class: 'trip-link' do %>
                    <%= t('trips.show.clone') %>
                <% end %>
              </li>
              <li>
                <%= link_to "#{trip_path(@trip)}.docx", target: '_blank', class: 'trip-link' do %>
                    <%= t('trips.show.download_word') %>
                <% end %>
              </li>
            </ul>
          </div>
      <% end %>
    </div>
  </div>
  <% if user_signed_in? %>
      <div class="row trip-links hidden-xs">
        <div class="col-xs-12">
          <% if @user_can_edit %>
              <%= link_to edit_trip_path(@trip), class: 'trip-link' do %>
                  <%= t('trips.show.edit_trip') %>
              <% end %>
              <% if @trip.author_user_id == current_user.id %>
                  <a href="javascript:void(0);" class="trip-link">
                    <trip-delete-link trip-id="<%= @trip.id %>"></trip-delete-link>
                  </a>
              <% end %>
          <% end %>
          <%= link_to "#{new_trip_path}?copy_from=#{@trip.id}", target: '_blank', class: 'trip-link' do %>
              <%= t('trips.show.clone') %>
          <% end %>
          <%= link_to "#{trip_path(@trip)}.docx", target: '_blank', class: 'trip-link' do %>
              <%= t('trips.show.download_word') %>
          <% end %>
        </div>
      </div>
  <% end %>
  <div class="row trip-header">
    <div class="col-xs-4 col-md-3">
      <trip-image trip-id="'<%= @trip.id %>'" image-url="'<%= @trip.image_url_or_default %>'" edit="<%= @user_can_edit %>">
      </trip-image>
    </div>
    <div class="col-xs-8 col-md-9">
      <div class="row">
        <div class="col-xs-12">
          <%= render'trips/partials/participants' %>
        </div>
      </div>
      <div class="row flags" ng-controller="CountriesListController" ng-init="initCountries('<%= @trip.id %>')">
        <div class="col-xs-12" ng-show="countries_loaded">
          <span ng-bind-html="country" ng-repeat="country in countries"></span>
        </div>
        <div class="col-xs-12" ng-hide="countries_loaded">
          <div class="flag-mockup"></div>
          <div class="flag-mockup"></div>
        </div>
      </div>
      <div class="row tags">
        <div class="col-xs-12">
          <span class="tag focused status-tag <%= trip_status_class(@trip.status_code) %>">
            <%= status_text(@trip) %>
          </span>
        </div>
      </div>
      <trip-description text='<%= @trip.short_description.inspect %>'></trip-description>
    </div>
  </div>
  <div class="work-area" id="plan_area">
    <div class="row tabs-row">
      <div class="col-md-12">
        <%= render 'components/trip/partials/tabs' %>
      </div>
    </div>

    <div ui-view class="tab-area"></div>
  </div>
</div>
