- content_for :title, @trip.name
- @body_class = 'trip'

- content_for :page_javascript do
  %script{type: 'text/ng-template', id: 'userTemplate.html'}
    %a
      %img{'ng-src' => '{{match.model.photo_url}}', class: 'img-circle typeahead-profile-pic'}
      %span
        {{match.label}}

  %script{type: 'text/ng-template', id: 'citiesTemplate.html'}
    %a.flag-text
      %span{ 'ng-bind-html' => 'match.model.flag_image' }
      %span
        {{match.label}}

  %script{type: 'text/ng-template', id: 'invitePopover.html'}
    .form-group.invite-users-popover
      = render 'widgets/typeahead/users', model_name: 'selected_user', classes: 'form-control',
        placeholder: t('trips.show.type_name'), show_loading: false, custom_attrs: {'focus-on' => 'popover_opened'}


%div{'ng-controller' => 'PlanController'}
  .row
    .col-xs-12
      %h4
        = @trip.name
  .row.trip-dates
    .col-xs-12
      = @trip.start_date
      = "-" if @trip.start_date.present?
      = @trip.days_count
      = t('common.days', count: @trip.days_count)

  - if user_signed_in?
    - if @user_can_edit
      .row.trip-links
        .col-xs-12
          = link_to edit_trip_path(@trip), class: 'trip-link' do
            = t('trips.show.edit_trip')

          - if @trip.author_user_id == current_user.id
            = link_to trip_path(@trip), class: 'trip-link', method: :delete,
                    'data-confirm'=> t('common.delete_confirm')  do
              = t('trips.show.delete_trip')


  .row.trip-header
    .col-xs-4.col-md-3
      .fileupload-form
        %img{id: 'trip_image', src: @trip.image_url_or_default, width: '100%', class: 'trip-image'}

        - if @user_can_edit
          .fileupload-buttons
            = form_for @trip, url: upload_photo_trip_path(@trip), method: :post, multipart: true, remote: true do |f|
              = f.hidden_field :remove_image, value: 'true'
              = link_to '', class: 'btn btn-sm ghost-button delete-image',
                  'data-confirm' => t('.delete_photo_cofirm') do
                = fa_icon 'times'

            = form_for @trip, url: upload_photo_trip_path(@trip), method: :post, multipart: true do |f|
              = f.file_field :image, class: 'fileupload'
              = link_to 'javascript:void(0)', class: 'btn btn-sm ghost-button upload-link' do
                = fa_icon 'upload'

      .progress-wrapper
        .progress
          .progress-bar{role: "progressbar"}

      .photo-processing
        %i.fa.fa-spinner.fa-spin
        = t('common.photo_processing')

    .col-xs-8.col-md-9
      - if user_signed_in?
        .row.buttons
          .col-xs-12

            = link_to "#{new_trip_path}?copy_from=#{@trip.id}", target: '_blank', class: 'btn ghost-button btn-sm' do
              %span{class: 'hidden-md hidden-lg'}
                = fa_icon 'copy'
              %span{class: 'hidden-sm hidden-xs'}
                = fa_icon 'copy', text: t('trips.show.clone')

            = link_to "#{trip_path(@trip)}.docx", target: '_blank', class: 'btn ghost-button btn-sm' do
              %span{class: 'hidden-md hidden-lg'}
                = fa_icon 'file-word-o'
              %span{class: 'hidden-sm hidden-xs'}
                = fa_icon 'file-word-o', text: t('trips.show.download_word')

      .row
        .col-xs-12
          = render'trips/partials/participants'

      .row.flags
        .col-xs-12
          %span{'ng-repeat' => 'country in countries', 'ng-bind-html' => 'country'}

      .row.tags
        .col-xs-12
          %span{class: "tag focused status-tag #{trip_status_class(@trip.status_code)}"}
            = @trip.status_text

  .row.trip-description
    .col-xs-12
      %p.travel-text{} #{@trip.short_description}


  .work-area{id: 'plan_area'}
    - if params[:tab].blank? || params[:tab] == ApplicationHelper::TAB_PLAN
      = render 'trips/tabs/plan'

    - if params[:tab] == ApplicationHelper::TAB_PLAN_ACTIVITIES
      = render 'trips/tabs/plan_activities'

    - if params[:tab] == ApplicationHelper::TAB_REPORT
      = render 'trips/tabs/report'

    - if params[:tab] == ApplicationHelper::TAB_CATERING
      = render 'trips/tabs/catering'
