- content_for :title, t('.title')

- @invites.each do |invite|
  .row.message-row
    .col-md-1.col-sm-1.col-xs-6.photo
      = link_to user_path(invite.inviting_user), class: 'pic-url' do
        %img.img-circle.small-profile-pic{src: invite.inviting_user.image_url_or_default}
    .col-md-9.hidden-xs.col-sm-8
      = render 'messages/invite_text', invite: invite
    .col-md-2.col-xs-6.controls.col-sm-3
      %button{class: 'btn btn-danger'}
        = fa_icon 'times'
      %button{class: 'btn btn-primary'}
        = fa_icon 'check'
    .col-xs-12.visible-xs.second-row
      = render 'messages/invite_text', invite: invite