- classes ||= 'form-control'
- editable ||= false
- text_field_name = "#{model_name}_text"
- code_field_name = "#{model_name}_code"
- placeholder ||= ''
- template ||= nil
- min_length ||= 3
- callback ||= "''"

-#   'typeahead-append-to-body' => true, ATTENTION: CAUSING MEMORY LEAK

- options_text = { 'ng-model' => text_field_name,
  'ng-change' => "#{code_field_name}='';",
  typeahead: "item.name as item.text for item in #{function}($viewValue)",
  'typeahead-on-select' => "onSelect($item, $model, $label, {'#{code_field_name}' : 'code'}, #{callback})",
  'typeahead-editable' => editable,
  'typeahead-loading' => 'typeahead_loading',
  'typeahead-min-length' => min_length,
  'typeahead-wait-ms' => 500,
  'typeahead-template-url' => template,
  placeholder: placeholder,
  class: "#{classes}"}

- options_code = { value: "{{#{code_field_name}}}" }

%div{'ng-controller' => 'TypeaheadController', 'ng-class' => "#{show_loading ? '{\'input-group\': typeahead_loading}' : '' }"}
  - unless form.blank?

    = form.text_field text_field_name, options_text.merge('ng-init' => "#{text_field_name}='#{form.object.send(text_field_name)}';")
    = form.hidden_field code_field_name, options_code.merge('ng-init' => "#{code_field_name}='#{form.object.send(code_field_name)}';")

  - else

    = text_field_tag text_field_name, '', options_text
    = hidden_field_tag code_field_name, '', options_code
  - if show_loading
    %div{class: 'input-group-addon', 'ng-show' => 'typeahead_loading'}
      = fa_icon 'refresh'

