%div.activity-place{'ng-show' => '!edit && !activity_edit', 'ng-model' => 'day.activities'}
  %div.region-grey{'ng-repeat' => 'activity in day.activities track by activity.id'}
    %span{'ng-click' => 'activity.isCollapsed = !activity.isCollapsed'}
      %span{class: 'collapse-header'}
        %span{'ng-show' => 'day.activities.length > 1'}
          {{$index+1}}.
        {{activity.name}}
      %span{'ng-show' => 'activity.amount_cents != undefined'}
        {{activity.amount_cents}}
        {{activity.amount_currency_text}}
    %div{'ng-show' => '!activity.isCollapsed'}
      %p.text-italic{'ng-show' => '!activity.comment && !activity.link_url'}
        = t('common.no_comments')
      %p{'ng-show' => '!!activity.comment', class: 'travel-text text-italic'} {{activity.comment}}
      %p
        = render 'widgets/link_show', ng_model_url: 'activity.link_url',
          ng_model_description: 'activity.link_description'
  - if @user_can_edit
    %a.edit-hover-button{'ng-show' => 'mouse_over_activities', 'ng-click' => "setEdit(true, 'activity')"}
      = fa_icon 'pencil'

%div{'ng-show' => 'edit || activity_edit'}
  %div.activity-place-edit{'ng-model' => 'day.activities',
                            'ui-sortable' => '{connectWith: \'.activity-place-edit\', placeholder: \'well\'}'}
    %div.form-horizontal.region-grey.day-activity-container{'ng-repeat' => 'activity in day.activities track by activity.id'}
      .form-group
        .col-md-1.activity-index
          %big
            {{$index+1}}
        .col-md-9
          = text_field_tag 'activity_name', '', 'ng-model' => 'activity.name', class: 'input-sm form-control',
            placeholder: t('trips.show.activity.name')
        .col-md-2
          %a.expand-button{href: 'javascript:void(0);', 'ng-click' => 'activity.isCollapsed = !activity.isCollapsed'}
            %span{'ng-show' => 'activity.isCollapsed'}
              = fa_icon 'arrow-right'
            %span{'ng-show' => '!activity.isCollapsed'}
              = fa_icon 'arrow-down'
          %a{href: 'javascript:void(0);', 'ng-click' => 'remove(day.activities, $index)', class: 'delete-button'}
            = fa_icon 'times'
      %div{'ng-show' => '!activity.isCollapsed'}
        .form-group{collapse: 'isCollapsed'}
          .col-md-12
            = render 'widgets/price', name: 'activity_price', object_model: 'activity',
                                      placeholder: t('trips.show.price')
        .form-group
          .col-md-12
            = text_area_tag 'activity_comment', '', 'ng-model' => 'activity.comment', class: 'form-control',
              placeholder: t('trips.show.comment'), rows: 6
        .form-group
          .col-md-12
            = render 'widgets/link', ng_model_url: 'activity.link_url'

  .form-group
    %a.pull-left.margin-right-10{href: 'javascript:void(0);', 'ng-click' => 'save()',
          'ng-show' => 'activity_edit'}
      = fa_icon 'check'
    %a.pull-left{href: 'javascript:void(0);', 'ng-click' => 'reload()', 'ng-show' => 'activity_edit'}
      = fa_icon 'undo'
    %a.pull-right{href: 'javascript:void(0);',
        'ng-click' => "add(day.activities, {\"isCollapsed\" : activitiesCollapsed, amount_currency_text: '#{Money::Currency.find(CurrencyHelper::DEFAULT_CURRENCY).symbol}'})"}
      = fa_icon 'plus'
