<% if @user_can_edit %>
    <div class="btn-toolbar action-buttons">
      <a class="link-with-icon btn btn-primary btn-sm" href="javascript:void(0);" ng-click="setEdit(true)" ng-show="!edit">
        <%= inline_svg 'buttons/edit.svg' %>
        <%= t('trips.show.edit_plan') %>
      </a>
      <a class="link-with-icon btn btn-success btn-sm" href="javascript:void(0);" ng-click="savePlan()" ng-show="!saving && edit">
        <%= inline_svg 'buttons/check.svg' %>
        <%= t('trips.show.save_plan') %>
      </a>
      <a class="saving" ng-show="saving">
        <%= t('trips.show.saving_plan') %>
      </a>
      <a class="link-with-icon btn ghost-button btn-sm" href="javascript:void(0);" ng-click="cancelEdits()" ng-show="edit">
        <%= inline_svg 'buttons/back.svg' %>
        <span class="hidden-xs">
        <%= t('common.back') %>
      </span>
      </a>
    </div>
<% end %>
