- if @user_can_edit
  .btn-toolbar.actions-butons{'ng-cloak' => ''}
    %a.link-with-icon.btn.btn-primary.btn-sm{href: 'javascript:void(0);', 'ng-click' => 'setEdit(true)',
         'ng-show' => '!edit' }
      = inline_svg 'buttons/edit.svg'
      = t('trips.show.edit_plan')

    %a.link-with-icon.btn.btn-success.btn-sm{href: 'javascript:void(0);', 'ng-click' => 'savePlan()',
         'ng-show' => '!saving && edit' }
      = inline_svg 'buttons/check.svg'
      = t('trips.show.save_plan')

    %a.saving{'ng-show' => 'saving'}
      %i.fa.fa-spinner.fa-spin
      = t('trips.show.saving_plan')

    %a.btn.ghost-button.btn-sm{href: 'javascript:void(0);', 'ng-click' => 'cancelEdits()',
        'ng-show' => 'edit' }
      = t('common.back')

