%div{'ng-show' => '!edit && !comment_edit'}
  %p.travel-text{} {{day.comment}}
  %p{'ng-repeat' => 'expense in day.expenses track by expense.id'}
    %span{'ng-show' => '!!expense.amount_cents'}
      {{expense.name}}

      {{expense.amount_cents / 100.0 | number: 2}}
      {{expense.amount_currency_text}}

  - if @user_can_edit
    %a.edit-hover-button{'ng-show' => 'mouse_over_comments', 'ng-click' => "setEdit(true, 'comment')"}
      = fa_icon 'pencil'

.form-horizontal{'ng-show' => 'edit || comment_edit'}
  .form-group
    .col-md-12
      = text_area_tag 'day_comment', '', 'ng-model' => 'day.comment', class: 'form-control',
        placeholder: t('trips.show.comment'), rows: 6

  .form-group{'ng-repeat' => 'expense in day.expenses track by expense.id'}
    .col-md-6
      = text_field_tag 'expense_name', '', 'ng-model' => 'expense.name', class: 'form-control input-sm',
          placeholder: t('trips.show.expense')
    .col-md-6.relative-position.day-expense-container
      = render 'widgets/price', name: 'expense_price', placeholder: t('trips.show.price'),
        object_model: 'expense'

      %a.delete-button{href: 'javascript:void(0);', 'ng-click' => 'remove(day.expenses, $index)',
          'ng-show' => 'day.expenses.length > 1'}
        = fa_icon 'times'

  .form-group.edit-actions
    .col-md-12
      %a.pull-left{href: 'javascript:void(0);', 'ng-click' => 'save()',
            'ng-show' => 'comment_edit'}
        = fa_icon 'check'

      %a.pull-left{href: 'javascript:void(0);', 'ng-click' => 'reload()', 'ng-show' => 'comment_edit'}
        = fa_icon 'undo'

      %a.pull-right{href: 'javascript:void(0);',
          'ng-click' => "add(day.expenses, {#{default_currency_hash(@trip, current_user)}})"}
        = fa_icon 'plus'
