%p.edit-actions
  %span{'ng-click' => 'transfer.isCollapsed = !transfer.isCollapsed', class: 'collapse-header'}
    = t('trips.show.transfer')
    {{$index+1}}
  %a{href: 'javascript:void(0);', 'ng-click' => 'transfer.isCollapsed = !transfer.isCollapsed',
      class: 'pull-right'}
    %span{'ng-show' => 'transfer.isCollapsed'}
      = fa_icon 'arrow-right'
    %span{'ng-show' => '!transfer.isCollapsed'}
      = fa_icon 'arrow-down'
  %a{href: 'javascript:void(0);', 'ng-click' => 'remove(day.transfers, $index)', class: 'pull-right'}
    = fa_icon 'times'

%div{class: 'form-group'}
  %div{class: 'col-md-6'}
    = render 'widgets/typeahead/cities', model_name: 'transfer.city_from', classes: 'input-sm form-control',
        placeholder: t('trips.show.from'), allow_empty_typeahead: true
  %div{class: 'col-md-6'}
    = render 'widgets/typeahead/cities', model_name: 'transfer.city_to', classes: 'input-sm form-control',
        placeholder: t('trips.show.to'), allow_empty_typeahead: true


%div{'ng-show' => '!transfer.isCollapsed'}
  %div{class: 'form-group'}
    %div{class: 'col-md-6'}
      = text_field_tag 'transfer_station_from', '', 'ng-model' => 'transfer.station_from', class: 'input-sm form-control',
          placeholder: t('trips.show.station_from')

    %div{class: 'col-md-6'}
      = text_field_tag 'transfer_station_to', '', 'ng-model' => 'transfer.station_to', class: 'input-sm form-control',
          placeholder: t('trips.show.station_to')

  %div{class: 'form-group'}
    %div{class: 'col-md-6 dropdown'}
      = render 'widgets/datetimepicker', link_default_text: t('trips.show.departure'), model: 'transfer.start_time'
    %div{class: 'col-md-6 dropdown'}
      = render 'widgets/datetimepicker', link_default_text: t('trips.show.arrival'), model: 'transfer.end_time'

  %div{class: 'form-group'}
    %div{class: 'col-md-12'}
      = render 'widgets/price', name: 'transfer_price', object_model: 'transfer', placeholder: t('trips.show.price')

  %div{class: 'form-group'}
    %div{class: 'col-md-12'}
      = select_tag 'transfer_type', options_for_select(transfer_type_options),
        {class: 'form-control input-sm', 'ng-model' => 'transfer.type'}

  %div{class: 'form-group'}
    %div{class: 'col-md-12'}
      = text_area_tag 'transfer_comment', '', 'ng-model' => 'transfer.comment', class: 'form-control',
          placeholder: t('trips.show.comment'), rows: 3

  %div{class: 'form-group'}
    %div{class: 'col-md-4'}
      = text_field_tag 'transfer_code', '', 'ng-model' => 'transfer.code', class: 'input-sm form-control',
          placeholder: '№'
    %div{class: 'col-md-8'}
      = text_field_tag 'transfer_company', '', 'ng-model' => 'transfer.company', class: 'input-sm form-control',
          placeholder: t('trips.show.carrier')


