%div{'ng-show' => '!edit && !hotel_edit'}
  %p{'ng-show' => 'day.hotel.name || day.hotel.amount_cents'}
    %span.hotel-name
      {{day.hotel.name}}
    %br
    %span{'ng-show' => '!!day.hotel.amount_cents'}
      {{day.hotel.amount_cents / 100.0 | number: 2}}
      {{day.hotel.amount_currency_text}}
  %p{'ng-show' => '!day.hotel.name && !day.hotel.amount_cents'}
    %i
      = t('trips.show.no_hotel')
  %p{class: 'travel-text text-italic'} {{day.hotel.comment}}
  %span{'ng-show' => '!!day.hotel.links'}
    %p{'ng-repeat' => 'link in day.hotel.links track by link.id'}
      = render 'widgets/link_show', ng_model_url: 'link.url',
                                              ng_model_description: 'link.description'
  - if @user_can_edit
    %a{'ng-click' => "setEdit(true, 'hotel')"}
      = fa_icon 'pencil'

%div.form-horizontal{'ng-show' => 'edit || hotel_edit'}
  .form-group.day-place-container
    .col-md-12
      = text_field_tag 'hotel_name', '', 'ng-model' => 'day.hotel.name', class: 'input-sm form-control',
        placeholder: t('trips.show.name')

    %a{href: 'javascript:void(0);',  class: 'up-button',
      'ng-click' => 'fillAsPreviousHotel(day.hotel)',
      'ng-show' => 'day_index > 0'}
      = fa_icon 'arrow-up'

  .form-group
    .col-md-12
      = render 'widgets/price', name: 'hotel_price', object_model: 'day.hotel', placeholder: t('trips.show.price_hotel')
  .form-group
    .col-md-12
      = text_area_tag 'hotel_comment', '', 'ng-model' => 'day.hotel.comment', class: 'form-control',
        placeholder: t('trips.show.comment'), rows: 3

  .day-place-container{'ng-repeat' => 'link in day.hotel.links track by link.id'}
    = render 'widgets/link', ng_model_descr: 'link.description', ng_model_url: 'link.url'
    %a{href: 'javascript:void(0);', 'ng-click' => 'remove(day.hotel.links, $index)', 'ng-show' => 'day.hotel.links.length > 1',
      class: 'delete-button'}
      = fa_icon 'times'
  .form-group.edit-actions
    .col-md-12
      %a.pull-left{href: 'javascript:void(0);', 'ng-click' => 'save()',
            'ng-show' => 'hotel_edit'}
        = fa_icon 'check'
      %a.pull-left{href: 'javascript:void(0);', 'ng-click' => 'reload()', 'ng-show' => 'hotel_edit'}
        = fa_icon 'undo'

      %a{href: 'javascript:void(0);', class: 'pull-right', 'ng-click' => 'add(day.hotel.links)'}
        = fa_icon 'plus'
