.participants{'ng-controller' => 'ParticipantsController', 'ng-init' => "loadParticipants();confirmationHeader = '#{t('common.are_you_sure')}'; confirmationText = '#{t('common.participant_will_be_deleted')}'; confirmationOk = '#{t('common.yes_delete')}'; confirmationCancel = '#{t('common.cancel')}'",
'ng-cloak' => ''}

  %span{'ng-repeat' => 'participant in participants track by participant.id', class: 'participant-link','ng-init' => ""}
    = link_to '/users/{{participant.id}}' do
      %img.img-circle.small-profile-pic.participant.image-url{ 'ng-src' => '{{participant.photo_url}}',
        'tooltip-placement' => "bottom", 'uib-tooltip' => '{{participant.name}}'}
    - if current_user == @trip.author_user
      %a{href: 'javascript:void(0);', 'ng-click' => "deleteUser(participant.id)", class: 'delete-action',
        'ng-show' => "participant.id != #{current_user.id}"}
        = image_tag 'buttons/delete.svg'

  %span{'ng-repeat' => 'participant in invited track by participant.id', class: 'participant-link'}
    = link_to '/users/{{participant.id}}' do
      %img.img-circle.small-profile-pic.invited-user.image-url{ 'ng-src' => '{{participant.photo_url}}',
        'tooltip-placement' => "bottom", 'uib-tooltip' => "{{participant.name}} (#{t('trips.show.invite_sent')})"}

    - if current_user == @trip.author_user
      %a{href: 'javascript:void(0);', 'ng-click' => "deleteInvitedUser(participant.id)", class: 'delete-action',
        'ng-show' => "participant.id != #{current_user.id}"}
        = image_tag 'buttons/delete.svg'

  - if @user_can_edit
    %a{href: 'javascript:void(0)',
        'uib-popover-template' => "'invitePopover.html'",
        'popover-title' => t('trips.show.add_friend'),
        'popover-placement' => 'bottom',
        'popover-trigger' => 'open',
        'travel-popover-toggle' => ''}

      %img.img-circle.small-profile-pic.add-participant{src: image_path('material/plus.png'), 'ng-hide' => 'popover_opened'}
      %img.img-circle.small-profile-pic.add-participant{src: image_path('material/close.png'), 'ng-show' => 'popover_opened'}
