%div{'ng-show' => '!edit && !place_edit'}
  - if @user_can_edit
    %a.inline-action.hidden-xs.pull-right{href: 'javascript:void(0);', 'ng-click' => "setEdit(true, 'place')",
          'ng-hide' => 'edit_persons_count'}
      = image_tag 'buttons/edit.svg'
  %p.flag-text.transfers-place-show{'ng-show' => 'place.city_text && place.flag_image', 'ng-repeat' => 'place in day.places track by place.id'}
    %span{'ng-bind-html' => 'place.flag_image'}
    {{place.city_text}}
  %p.transfers-place-show{'ng-show' => 'day.places.length == 0 || !day.places[0].city_text'}
    %i
      = t('trips.show.no_places')
  - if @user_can_edit
    %a.inline-action.hidden-md.hidden-lg.hidden-sm{href: 'javascript:void(0);', 'ng-click' => "setEdit(true, 'place')",
          'ng-hide' => 'edit_persons_count'}
      = image_tag 'buttons/edit.svg'


%div{'ng-show' => 'edit || place_edit'}

  %div.day-place-container{'ng-repeat' => 'place in day.places track by place.id', class: ''}
    = render 'widgets/typeahead/cities', model_name: 'place.city', classes: 'input-sm form-control',
      placeholder: t('trips.show.city'), show_loading: false, custom_bindings: "'place.flag_image' : 'flag_image'",
      allow_empty_typeahead: true

    %a.delete-action{href: 'javascript:void(0);', 'ng-click' => 'remove(day.places, $index)',
                      'ng-show' => 'day.places.length > 1'}
      = image_tag 'buttons/delete.svg'

    %a.up-action{href: 'javascript:void(0);', 'ng-click' => 'fillAsPreviousPlace(place, $index)',
       'ng-show' => '($index > 0 || day_index > 0) && !place.city_code'}
      = image_tag 'buttons/up.svg'

  %a.link-with-icon{href: 'javascript:void(0);', 'ng-click' => 'add(day.places, {})'}
    = inline_svg 'buttons/add_plain.svg'
    = t('trips.show.add_city')

  .actions
    %a.link-with-icon.btn.btn-sm.btn-success{'ng-click' => 'save()', href: 'javascript:void(0);',
              'ng-show' => 'place_edit'}
      = inline_svg 'buttons/check.svg'
    %a.link-with-icon.btn.btn-sm.ghost-button{'ng-click' => 'reload()', href: 'javascript:void(0);',
            'ng-show' => 'place_edit'}
      = inline_svg 'buttons/back.svg'

