%div{'ng-show' => '!edit && !place_edit', 'ng-repeat' => 'place in day.places track by place.id'}
  %p
    {{place.city_text}}
  - if @user_can_edit
    %a.edit-hover-button{'ng-show' => 'mouse_over_place', 'ng-click' => "setEdit(true, 'place')"}
      = fa_icon 'pencil'


%div{'ng-show' => 'edit || place_edit'}

  %div{'ng-repeat' => 'place in day.places track by place.id', class: 'day-place-container relative-position'}
    %a{href: 'javascript:void(0);',  class: 'up-button',
       'ng-click' => 'fillAsPreviousPlace(place, $index, day, day_index)',
       'ng-show' => '($index > 0 || day_index > 0) && !place.city_code'}
      = fa_icon 'arrow-up'

    %a{href: 'javascript:void(0);', 'ng-click' => 'remove(day.places, $index)', 'ng-show' => 'day.places.length > 1',
        class: 'delete-button'}
      = fa_icon 'times'
    .form-group
      = render 'widgets/typeahead/cities', model_name: 'place.city', classes: 'input-sm form-control',
        placeholder: t('trips.show.city'), show_loading: false

  .form-group.edit-actions
    %a.pull-left{href: 'javascript:void(0);', 'ng-click' => 'save()', 'ng-show' => 'place_edit'}
      = fa_icon 'check'
    %a.pull-left{href: 'javascript:void(0);', 'ng-click' => 'reload()', 'ng-show' => 'place_edit'}
      = fa_icon 'undo'

    %a{href: 'javascript:void(0);', class: 'pull-right', 'ng-click' => 'add(day.places)'}
      = fa_icon 'plus'
