.transfer-place{'ng-show' => '!edit && !transfer_edit', 'ng-model' => 'day.transfers'}

  %div{'ng-repeat' => 'transfer in day.transfers track by transfer.id'}
    = render 'trips/partials/show_transfer'

  - if @user_can_edit
    %a.edit-hover-button{'ng-show' => 'mouse_over_transfers', 'ng-click' => "setEdit(true, 'transfer')"}
      = fa_icon 'pencil'

%div{'ng-show' => 'edit || transfer_edit'}
  %div.form-horizontal.transfer-place-edit{'ng-model' => 'day.transfers',
        'ui-sortable' => '{connectWith: \'.transfer-place-edit\', placeholder: \'well\'}'}
    %div{'ng-repeat' => 'transfer in day.transfers track by transfer.id'}
      = render 'trips/partials/edit_transfer'
  .form-group
    %a.pull-left.margin-right-10{href: 'javascript:void(0);', 'ng-click' => 'save()',
          'ng-show' => 'transfer_edit'}
      = fa_icon 'check'
    %a.pull-left{href: 'javascript:void(0);', 'ng-click' => 'reload()', 'ng-show' => 'transfer_edit'}
      = fa_icon 'undo'

    %a.pull-right{href: 'javascript:void(0);',
    'ng-click' => "add(day.transfers, {\"isCollapsed\" : transfersCollapsed, amount_currency_text: '#{Money::Currency.find(CurrencyHelper::DEFAULT_CURRENCY).symbol}'})"}
      = fa_icon 'plus'
