<div class="transfer-place" ng-model="day.transfers" ng-show="!edit && !transfer_edit">
  <% if @user_can_edit %>
      <a class="inline-action pull-right" href="javascript:void(0);" ng-click="setEdit(true, 'transfer')">
        <%= image_tag 'buttons/edit.svg' %>
      </a>
  <% end %>
  <div class="transfer-show-container" ng-repeat="transfer in day.transfers track by transfer.id">
    <%= render 'trips/partials/show_transfer' %>
  </div>
  <p class="hidden-sm hidden-md hidden-lg" ng-show="day.transfers.length == 0">
    <i>
      <%= t('trips.show.no_transfers') %>
    </i>
  </p>
</div>
<div ng-show="edit || transfer_edit">
  <div class="form-horizontal transfer-place-edit" ng-model="day.transfers" ui-sortable="{connectWith: '.transfer-place-edit', placeholder: 'well'}">
    <div class="transfer-edit-container" ng-repeat="transfer in day.transfers track by transfer.id">
      <%= render 'trips/partials/edit_transfer' %>
    </div>
  </div>
  <a class="link-with-icon" href="javascript:void(0);" ng-click='add(day.transfers, {links: [], <%= default_currency_hash(@trip, current_user) %> })'>
    <%= inline_svg 'buttons/add_plain.svg' %>
    <%= t('trips.show.add_transfer') %>
  </a>
  <div class="actions" ng-show="transfer_edit">
    <a class="link-with-icon btn btn-sm btn-success" href="javascript:void(0);" ng-click="save()">
      <%= inline_svg 'buttons/check.svg' %>
    </a>
    <a class="link-with-icon btn btn-sm ghost-button" href="javascript:void(0);" ng-click="reload()">
      <%= inline_svg 'buttons/back.svg' %>
    </a>
  </div>
</div>
