.transfer-place{'ng-show' => '!edit && !transfer_edit', 'ng-model' => 'day.transfers'}

  - if @user_can_edit
    %a.inline-action.pull-right{href: 'javascript:void(0);', 'ng-click' => "setEdit(true, 'transfer')"}
      = image_tag 'buttons/edit.svg'

  %div.transfer-show-container{'ng-repeat' => 'transfer in day.transfers track by transfer.id'}
    = render 'trips/partials/show_transfer'

  %p.hidden-sm.hidden-md.hidden-lg{'ng-show' => 'day.transfers.length == 0'}
    %i
      = t('trips.show.no_transfers')

%div{'ng-show' => 'edit || transfer_edit'}

  %div.form-horizontal.transfer-place-edit{'ng-model' => 'day.transfers',
        'ui-sortable' => '{connectWith: \'.transfer-place-edit\', placeholder: \'well\'}'}
    %div.transfer-edit-container{'ng-repeat' => 'transfer in day.transfers track by transfer.id'}
      = render 'trips/partials/edit_transfer'

  %a.link-with-icon{href: 'javascript:void(0);',
    'ng-click' => "add(day.transfers, {\"links\" : [{}], #{default_currency_hash(@trip, current_user)}})"}
    = inline_svg 'buttons/add_plain.svg'
    = t('trips.show.add_transfer')

  .actions{'ng-show' => 'transfer_edit'}
    %a.link-with-icon.btn.btn-sm.btn-success{'ng-click' => 'save()', href: 'javascript:void(0);'}
      = inline_svg 'buttons/check.svg'
    %a.link-with-icon.btn.btn-sm.ghost-button{'ng-click' => 'reload()', href: 'javascript:void(0);'}
      = inline_svg 'buttons/back.svg'

