- trips ||= []
- without_pagination ||= false

%ul.trip-list
  - if trips.blank?
    = t('.no_trips')
  - else
    - trips.each do |trip|
      %li
        .trip-row
          .image-cell.hidden-xs.hidden-sm
            = link_to trip_path(trip) do
              %img{class: 'img-responsive',
                src: trip.image_url_or_default}

          .content-cell
            .header
              = link_to trip_path(trip) do
                = trip.name
              %small
                = trip_start_date(trip)

            %span.budget
              = number_with_precision trip.budget_sum(current_user.try(:currency)), precision: 2, separator: ','
              = currency_symbol.html_safe
              \/
              = trip.days_count
              = t('common.days', count: trip.days_count)
              = t('trips.show.budget_for')
              = trip.budget_for
              = t('trips.show.persons')

            %span.author
              = link_to user_path(trip.author) do
                %img.img-circle.xs-profile-pic{ 'ng-src' => trip.author.image_url_or_default,
                  'tooltip-placement' => "bottom", 'tooltip' => trip.author.full_name}

          .tags-cell

            .flags
              - trip.visited_countries_codes[0..2].each do |country_code|
                = flag country_code, 24, true

            .tags
              %div{class: "tag status-tag #{trip_status_class(trip.status_code)}"}
                = trip.status_text

- unless without_pagination
  = paginate trips
