<% content_for :title, t('.title') %>

<div class="dashboard-content" style="background: url('https://s3.eu-central-1.amazonaws.com/hamster-travel-images/backgrounds/<%= Random.rand(32).to_s.rjust(2, '0') %>.jpg') no-repeat center center fixed; background-size: cover;">
  <div class="welcome-area">
    <div class="col-md-6 col-md-offset-3">
      <h2>
        <%= t('.welcome') %>
      </h2>
      <h3>
        <%= t('.welcome_second') %>
      </h3>
      <div class="form-group btns">
        <a class="btn btn-primary btn-lg btn-browse" href="<%= trips_path %>">
          <%= t('.browse') %>
        </a>
      </div>
    </div>
  </div>
</div>
