<% content_for :title, t('.title') %>

<div class="container">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <fieldset class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <h5><%= t('.welcome') %></h5>
          <hr/>
          <div class="form-group">
            <%= f.label :password, class: 'control-label' %>
            <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
            <%= render 'common/error_message', object: f.object, field: :password %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, class: 'control-label' %>
            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off' %>
            <%= render 'common/error_message', object: f.object, field: :password_confirmation %>
          </div>
          <div class="form-group">
            <%= f.label :current_password, class: 'control-label' %>
            <%= f.password_field :current_password, class: 'form-control', autocomplete: 'off', placeholder: t('.current_password_placeholder') %>
            <%= render 'common/error_message', object: f.object, field: :current_password %>
          </div>
          <div class="form-group">
            <%= f.submit t('common.save'), class: 'btn btn-lg btn-primary btn-block' %>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>
