<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), role: 'form') do |f| %>
      <%= error_messages! resource %>
      <h2><%= t('.welcome') %> <small><%= t('.teaser') %></small></h2>
      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :first_name, class: 'form-control input-lg', placeholder: t('.first_name') %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.text_field :last_name, class: 'form-control input-lg', placeholder: t('.last_name') %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: 'form-control input-lg', placeholder: t('.email') %>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.password_field :password, autocomplete: 'off', class: 'form-control input-lg', placeholder: t('.password') %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control input-lg', placeholder: t('.password_confirmation') %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <%= t('.by_clicking') %> <strong class="label label-primary"><%= t('.register') %></strong>, <%= t('.you_agree') %> <a href="#" data-toggle="modal" data-target="#t_and_c_m"><%= t('.terms') %></a><%= t('.ending') %>.
        </div>
      </div>

      <hr class="colorgraph">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= f.submit t('.register'), class: 'btn btn-primary btn-block btn-lg' %>
        </div>
        <div class="col-xs-12 col-md-6">
          <%= link_to t('.sign_in'), new_user_session_path, class: 'btn btn-success btn-block btn-lg' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel"><%= t('.terms_head') %></h4>
      </div>
      <div class="modal-body">
        <p>Здесь будет текст соглашения. Не забыть спиздить откуда-нибудь.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t('.agree') %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

  <!--<div><%#= f.submit "Sign up" %></div>-->

<!--<%#= render "devise/shared/links" %>-->
