<script id="userManualCities.html" type="text/ng-template">
  <a href="javascript:void(0);" ng-click="showModal()">
    <%= t('users.show.add_manual_cities') %>
  </a>
</script>

<script id="userManualCitiesModal.html" type="text/ng-template">
  <div class="modal-header row">
    <div class="col-xs-10 header-text">
      <%= t('users.show.manual_cities') %>
    </div>
    <div class="col-xs-2">
      <a href="javascript:void(0);" ng-click="close()" class="pull-right">
        <%= image_tag 'buttons/delete.svg' %>
      </a>
    </div>
  </div>
  <div class="modal-body user-manual-cities-modal">
    <div class="form-group">
      <%= render 'widgets/typeahead/cities',
                  model_name: 'city',
                  classes: 'form-control',
                  placeholder: t('users.show.manual_city_input'),
                  allow_empty_typeahead: false,
                  focus_on: true,
                  callback: 'citySelected'
      %>
    </div>

    <div class="row" ng-if="cities.length > 0">
      <div class="col-md-4 visited-place" ng-repeat="city in cities track by city.code">
        <span ng-bind-html="city.flag_image"></span>
        {{city.name}}
        <a href="javascript:void(0);" ng-click="remove($index)" class="remove-place">
          <%= image_tag "buttons/delete.svg" %>
        </a>
      </div>
    </div>

    <div class="row no-manual-cities" ng-if="cities.length == 0">
      <div class="col-md-12">
        <%= t('users.show.no_manual_cities') %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-lg" ng-click="close()">
      <%= t('common.cancel') %>
    </button>
    <button class="btn btn-primary btn-lg" ng-click="save()">
      <%= t('common.save') %>
    </button>
  </div>
</script>
