<script id="userInfo.html" type="text/ng-template">
  <div class="user-info" ng-if="loaded">
    <div class="user-basic-info">
      <div class="user-photo"
           ng-class="{ 'clickable-area' : $ctrl.edit, 'uploading' : uploading }"
      >
        <span
        ngf-select="crop($files)"
        ng-disabled="!$ctrl.edit"
        ngf-accept="'image/*'"
        ngf-pattern="'image/*'"
        ngf-max-size="10MB"
        >
          <img class="img-circle img-user-profile" id="profile_image" ng-src="{{user.image_url}}" ng-if="user.image_url"/>
          <div class="{{user.color}} initials img-user-profile img-circle"
               ng-if="!user.image_url">
            {{user.initials}}
          </div>
        </span>
        <a class="delete-image"
           href="javascript:void(0);"
           action-confirmation="deletePhoto()"
           confirmation-text="<%= t('common.delete_photo_confirm') %>"
           ng-if="$ctrl.edit && user.image_url">
          <%= image_tag 'buttons/delete.svg' %>
        </a>
      </div>
      <div class="user-text">
        <div class="user-name">
          {{user.full_name}}
        </div>
        <div class="user-city" ng-if="user.home_town_text">
          <%= image_tag 'users/pin.svg' %>
          {{user.home_town_text}}
        </div>
      </div>
    </div>
    <div class="user-statistics">
      <div class="user-statistic">
        <div class="statistic-text">
          <%= t('users.show.finished_trips_count') %>
        </div>
        <div class="statistic-number">
          {{user.finished_trips_count}}
        </div>
      </div>
      <div class="user-statistic">
        <div class="statistic-text">
          <%= t('users.show.visited_countries_count') %>
        </div>
        <div class="statistic-number">
          {{user.visited_countries_count}}
        </div>
      </div>
      <div class="user-statistic">
        <div class="statistic-text">
          <%= t('users.show.visited_cities_count') %>
        </div>
        <div class="statistic-number">
          {{user.visited_cities_count}}
        </div>
      </div>
    </div>
  </div>
</script>
