.span{'ng-init' => "loadCatering(#{@trip.to_json}, #{@trip.budget_sum(current_user.try(:currency))})", 'ng-cloak' => ''}
  .work-area-header
    .row
      .col-md-12
        = render 'trips/partials/tabs'
    = render 'trips/partials/watching_users'
    .row
      .col-md-12
        = render 'trips/partials/budget'
    .row
      .col-md-12
        = render 'trips/partials/buttons'

  %div.catering-container{'ng-repeat' => 'catering in caterings track by catering.id'}

    .catering-show{'ng-show' => '!edit'}
      .row
        .col-md-12
          %p.header
            {{catering.name}}
          .row.expenses
            .col-md-1.text-center.separator-times.col-xs-3.col-sm-3
              .main
                {{(catering.amount_cents  / 100.0 | number: 2) || 0.0}}
                {{catering.amount_currency_text}}
              .descr
                = t('trips.show.for_day')
            .col-md-1.text-center.separator-times.col-xs-3.col-sm-3
              .main
                {{catering.persons_count}}
                = fa_icon 'user'
              .descr
                = t('trips.show.persons')
            .col-md-1.text-center.separator-equal.col-xs-3.col-sm-3
              .main
                {{catering.days_count}}
                = fa_icon 'calendar-o'
              .descr
                = t('trips.show.days')
            .col-md-1.text-center.col-xs-3.col-sm-3
              .main
                Σ&nbsp;{{(catering.amount_cents || 0) * (catering.persons_count || 0) * (catering.days_count || 0) / 100.0 | number: 2}}&nbsp;{{catering.amount_currency_text}}
              .descr
                = t('trips.show.overall')
          %p.text{} {{catering.description || '#{I18n.t('trips.show.no_catering_description')}'}}


    .catering-form{'ng-show' => 'edit'}
      .row
        .col-md-11.col-xs-11.col-sm-11
          .form-group
            = text_field_tag 'catering_name', '', 'ng-model' => 'catering.name', class: 'input-lg form-control',
                placeholder: t('trips.show.catering_name')
        .col-md-1.col-sm-1.col-xs-1
          %a{href: 'javascript:void(0);', 'ng-click' => 'remove(caterings, $index)', class: 'pull-right big-control'}
            = fa_icon 'times'
      .row.expenses
        .col-md-2.text-center.separator-times.col-xs-5.col-sm-3
          .main
            = render 'widgets/price', name: 'catering_price', object_model: 'catering', placeholder: t('trips.show.for_day'),
                  group_class: '', input_class: ''

          .descr
            = t('trips.show.for_day')
        .col-md-2.text-center.separator-times.col-xs-2.col-sm-3
          .main
            = number_field_tag 'catering_persons', '', {'ng-model' => 'catering.persons_count', 'class' => 'form-control', min: 1}
          .descr
            = t('trips.show.persons')
        .col-md-2.text-center.separator-equal.col-xs-2.col-sm-3
          .main
            = number_field_tag 'catering', '', {class: 'form-control-inline form-control', 'ng-model' => 'catering.days_count', min: 0}
          .descr
            = t('trips.show.days')
        .col-md-2.text-center.col-xs-3.col-sm-3.overall
          .main
            Σ&nbsp;{{(catering.amount_cents || 0) * (catering.persons_count || 0) * (catering.days_count || 0) / 100.0 | number: 2}}&nbsp;{{catering.amount_currency_text}}
          .descr
            = t('trips.show.overall')
      .row
        .col-md-12
          .form-group
            = text_area_tag 'catering_description', '', 'ng-model' => 'catering.description', class: 'form-control',
              placeholder: t('trips.show.catering_description'), rows: 5

  .row{'ng-show' => 'edit'}
    .col-md-12
      %a.pull-right{href: 'javascript:void(0);', class: 'pull-right big-control',
      'ng-click' => "add(caterings, {persons_count: trip.budget_for * 1, days_count: 1, #{default_currency_hash(@trip, current_user)}})"}
        = fa_icon 'plus'

