.span{'ng-controller' => 'CateringsController', 'ng-init' => "init('#{@trip.id}')", 'ng-cloak' => ''}
  .work-area-header
    .row
      .col-md-12
        = render 'trips/partials/tabs'
    = render 'trips/partials/watching_users'
    = render 'trips/partials/budget', options: {tab_budget: 'catering_budget'}
    .row
      .col-md-12
        = render 'trips/partials/buttons'

  %div.catering-empty-state{'ng-if' => 'caterings.length == 0 && !edit && caterings_loaded'}
    %div.image
      = image_tag 'catering/cup.svg'
    %div.description
      = t('trips.show.catering_add_info')

    %div.call-to-action
      %a.btn.btn-primary{href: 'javascript:void(0);',
      'ng-click' => "add(caterings, {persons_count: trip.budget_for, days_count: 1, #{default_currency_hash(@trip, current_user)}}) && setEdit(true)"}
        = t('trips.show.catering_call_to_action')

  %div.catering-mockup{'ng-if' => '!caterings_loaded'}
    MOCKUP

  %div.catering-container{'ng-show' => 'caterings_loaded', 'ng-repeat' => 'catering in caterings track by catering.id'}

    .catering-show{'ng-show' => '!edit'}
      .row
        .col-xs-12.col-sm-4
          %p.header
            {{catering.name}}
          %p.catering-value
            = image_tag 'common/wallet.svg', class: 'catering-wallet'
            %span.catering-value-text
              {{(catering.amount_cents  / 100.0 | number: 2) || 0.0}}
              {{catering.amount_currency_text}}
              = t('trips.show.catering_show_for_day')
          %p.catering-value
            = image_tag 'catering/users.svg'
            %span.catering-value-text
              {{catering.persons_count}}
              = t('trips.show.catering_persons_show')
          %p.catering-value
            = image_tag 'catering/calendar.svg'
            %span.catering-value-text
              {{catering.days_count}}
              = t('trips.show.catering_days_show')
          %hr
          .catering-value
            = image_tag 'common/money.svg'
            %span.catering-value-text
              = t('trips.show.catering_sum')
              {{(catering.amount_cents || 0) * (catering.persons_count || 0) * (catering.days_count || 0) / 100.0 | number: 2}}&nbsp;{{catering.amount_currency_text}}
        .col-xs-12.col-sm-8
          %p.text{} {{catering.description || '#{I18n.t('trips.show.no_catering_description')}'}}


    .catering-form{'ng-show' => 'edit'}
      .row
        .col-xs-12.col-sm-6
          .form-group
            = label_tag 'catering_name', t('trips.show.catering_name')
            %a{href: 'javascript:void(0);', 'ng-click' => 'remove(caterings, $index)', class: 'delete-control big-control'}
              %span.hidden-xs
                = fa_icon 'times', text: t('trips.show.catering_delete')
              %span.hidden-lg.hidden-sm.hidden-md
                = fa_icon 'times'
            = text_field_tag 'catering_name', '', 'ng-model' => 'catering.name', class: 'form-control',
              placeholder: t('trips.show.catering_name_placeholder')
          .form-group
            = label_tag 'catering_price', t('trips.show.for_day')
            = render 'widgets/price', name: 'catering_price', object_model: 'catering', placeholder: t('trips.show.for_day'),
                  group_class: '', input_class: ''
          .form-group
            = label_tag 'catering_persons', t('trips.show.catering_persons')
            = number_field_tag 'catering_persons', '', {'ng-model' => 'catering.persons_count', 'class' => 'form-control', min: 1}
          .form-group
            = label_tag 'catering_days', t('trips.show.catering_days')
            = number_field_tag 'catering_days', '', {class: 'form-control-inline form-control', 'ng-model' => 'catering.days_count', min: 0}
          .form-group.catering-value
            = image_tag 'common/money.svg'
            %span.catering-value-text
              = t('trips.show.catering_sum')
              {{(catering.amount_cents || 0) * (catering.persons_count || 0) * (catering.days_count || 0) / 100.0 | number: 2}}&nbsp;{{catering.amount_currency_text}}
        .col-xs-12.col-sm-6
          .form-group
            = label_tag 'catering_description', t('trips.show.catering_description')
            = text_area_tag 'catering_description', '', 'ng-model' => 'catering.description', class: 'form-control',
              placeholder: t('trips.show.catering_description_placeholder'), rows: 5

  .row{'ng-show' => 'edit'}
    .col-md-12
      %a{href: 'javascript:void(0);', class: 'big-control',
      'ng-click' => "add(caterings, {persons_count: trip.budget_for, days_count: 1, #{default_currency_hash(@trip, current_user)}})"}
        = fa_icon 'plus', text: t('trips.show.catering_add')

