%div{'ng-controller' => 'TransfersPlanController', 'ng-init' => "init('#{@trip.id}')"}
  .work-area-header
    .row
      .col-md-12
        = render 'trips/partials/tabs'
    = render 'trips/partials/watching_users'
    = render 'trips/partials/budget', options: {tab_budget: 'transfers_hotel_budget'}
    .row
      .col-md-12
        %div{class: "list-group list-group-horizontal", 'ng-cloak' => ''}
          %a{class: "list-group-item",
                           'ng-click' => 'changeVisibility("show_place")',
                           'ng-class' => '{active: show_place}',
                           'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.place')}
            %span{'ng-show' => 'show_place'}
              = fa_icon 'check-square-o'
            %span{'ng-show' => '!show_place'}
              = fa_icon 'square-o'
            = fa_icon 'map-marker'
          %a{class: "list-group-item",
                           'ng-click' => 'changeVisibility("show_transfers")',
                           'ng-class' => '{active: show_transfers}',
                           'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.transfers')}
            %span{'ng-show' => 'show_transfers'}
              = fa_icon 'check-square-o'
            %span{'ng-show' => '!show_transfers'}
              = fa_icon 'square-o'
            = fa_icon 'car'
          %a{class: "list-group-item",
                           'ng-click' => 'changeVisibility("show_hotel")',
                           'ng-class' => '{active: show_hotel}',
                           'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.hotel')}
            %span{'ng-show' => 'show_hotel'}
              = fa_icon 'check-square-o'
            %span{'ng-show' => '!show_hotel'}
              = fa_icon 'square-o'
            = fa_icon 'home'

    .row
      .col-md-12
        = render 'trips/partials/buttons'

  %table.table.table-black-bordered.fixed-head.plan-table
    %thead.plan-affix
      %tr
        %th{class: 'col-md-1'}
          = t('trips.show.day')
        %th{class: 'col-md-2', 'ng-show' => 'show_place'}
          = t('trips.show.place')
        %th{class: 'col-md-6', 'ng-show' => 'show_transfers'}
          = t('trips.show.transfers')
        %th{class: 'col-md-3', 'ng-show' => 'show_hotel'}
          = t('trips.show.hotel')
          - if @user_can_edit
            %a.pull-right{href: 'javascript:void(0);', 'ng-click' => 'savePlan()', 'ng-cloak' => '',
                'ng-show' => '!saving && edit', 'data-placement' => "bottom",
                'data-toggle' => 'tooltip', title: t('trips.show.save_plan')}
              = fa_icon 'save'
            %a.pull-right{'ng-show' => 'saving', 'ng-cloak' => ''}
              %i.fa.fa-spinner.fa-spin
              = t('trips.show.saving_plan')

    %tbody
      - @trip.days.each_with_index do |day, day_index|
        %tr.plan-row{'ng-controller' => 'TransfersDayController',
        'ng-init' => "init('#{@trip.id}', '#{day.id}', #{day_index}, {\"links\" : [{}], #{default_currency_hash(@trip, current_user)}})"}
          %td{'ng-controller' => 'DaySorterController'}
            .day-date
              = day.date_when_s
            - if @user_can_edit && @trip.days_count > 1
              %a.reorder-link{'ng-click' => "startSorting('#{@trip.id}')", href: 'javascript:void(0);'}
                = t('trips.show.reorder_days')
          %td{'ng-show' => 'show_place', 'ng-mouseleave' => 'mouse_over_place = false',
                                         'ng-mouseenter' => 'mouse_over_place = true'}
            %span{'ng-cloak' => '', 'ng-show' => 'day_loaded'}
              = render 'trips/partials/place'
            %span{'ng-hide' => 'day_loaded'}
              .transfers-mockup-line
          %td{'ng-show' => 'show_transfers', 'ng-mouseleave' => 'mouse_over_transfers = false',
                                             'ng-mouseenter' => 'mouse_over_transfers = true'}
            %span{'ng-cloak' => '', 'ng-show' => 'day_loaded'}
              = render 'trips/partials/transfer'
            %span{'ng-hide' => 'day_loaded'}
              .transfer-mockup
                .transfer-destination-mockup
                  .transfer-city-mockup
                  .transfer-station-mockup
                .transfer-icon-mockup
                .transfer-destination-mockup
                  .transfer-city-mockup
                  .transfer-station-mockup
          %td{'ng-show' => 'show_hotel', 'ng-mouseleave' => 'mouse_over_hotel = false',
                                         'ng-mouseenter' => 'mouse_over_hotel = true'}
            %span{'ng-cloak' => '', 'ng-show' => 'day_loaded'}
              = render 'trips/partials/hotel'
            %span{'ng-hide' => 'day_loaded'}
              .transfers-mockup-line
              .transfers-mockup-line
