%div{'ng-controller' => 'PlanController', 'ng-init' => "createDays(#{@trip.days.count}, #{@trip.to_json})"}
  .container-full
    .row
      .col-md-1

      .col-md-10
        %table.table.table-black-bordered.fixed-head.plan-table{'ng-cloak' => ''}
          %thead.plan-affix
            %tr.plan-header
              %th{colspan: '6'}
                .container
                  .row
                    .col-md-12
                      = render 'trips/partials/buttons'
                      = render 'trips/partials/tabs'
                  .row
                    .col-md-12
                      = render 'trips/partials/watching_users'
                  .row.plan-header-second-row
                    .col-md-12
                      %big
                        = t('common.budget')
                        {{budget()}}
                        = fa_icon 'ruble'
                        %span{'ng-show' => '!edit'}
                          = t('trips.show.budget_for')
                          {{trip.budget_for}}
                          = t('trips.show.persons')
                        %span{'ng-show' => 'edit'}
                          = t('trips.show.budget_for')
                          = select_tag 'trip_budget_for', options_for_select((1..10).step(1)),
                            {class: 'input-sm', 'ng-model' => 'trip.budget_for'}
                          = t('trips.show.persons')
                      %div{class: "list-group list-group-horizontal pull-right"}
                        %a{class: "list-group-item",
                               'ng-click' => 'changeVisibility("show_place")',
                               'ng-class' => '{active: show_place}',
                               'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.place')}
                          %span{'ng-show' => 'show_place'}
                            = fa_icon 'check-square-o'
                          %span{'ng-show' => '!show_place'}
                            = fa_icon 'square-o'
                          = fa_icon 'map-marker'
                        %a{class: "list-group-item",
                               'ng-click' => 'changeVisibility("show_transfers")',
                               'ng-class' => '{active: show_transfers}',
                               'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.transfers')}
                          %span{'ng-show' => 'show_transfers'}
                            = fa_icon 'check-square-o'
                          %span{'ng-show' => '!show_transfers'}
                            = fa_icon 'square-o'
                          = fa_icon 'car'
                        %a{class: "list-group-item",
                               'ng-click' => 'changeVisibility("show_hotel")',
                               'ng-class' => '{active: show_hotel}',
                               'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.hotel')}
                          %span{'ng-show' => 'show_hotel'}
                            = fa_icon 'check-square-o'
                          %span{'ng-show' => '!show_hotel'}
                            = fa_icon 'square-o'
                          = fa_icon 'home'
                        %a{class: "list-group-item",
                               'ng-click' => 'changeVisibility("show_activities")',
                               'ng-class' => '{active: show_activities}',
                               'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.activities')}
                          %span{'ng-show' => 'show_activities'}
                            = fa_icon 'check-square-o'
                          %span{'ng-show' => '!show_activities'}
                            = fa_icon 'square-o'
                          = fa_icon 'university'
                        %a{class: "list-group-item",
                               'ng-click' => 'changeVisibility("show_comments")',
                               'ng-class' => '{active: show_comments}',
                               'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.comments')}
                          %span{'ng-show' => 'show_comments'}
                            = fa_icon 'check-square-o'
                          %span{'ng-show' => '!show_comments'}
                            = fa_icon 'square-o'
                          = fa_icon 'pencil'
            %tr
              %th{class: 'col-md-1'}
                = t('trips.show.day')
              %th{class: 'col-md-1', 'ng-show' => 'show_place'}
                = t('trips.show.place')
              %th{class: 'col-md-2', 'ng-show' => 'show_transfers'}
                = t('trips.show.transfers')
                %a{class: 'pull-right', href: 'javascript:void(0);', 'ng-click' => 'toggleTransfers()'}
                  %span{'ng-show' => '!transfersCollapsed'}
                    = fa_icon 'arrow-down'
                  %span{'ng-show' => 'transfersCollapsed'}
                    = fa_icon 'arrow-right'
              %th{class: 'col-md-2', 'ng-show' => 'show_hotel'}
                = t('trips.show.hotel')
              %th{class: 'col-md-4', 'ng-show' => 'show_activities'}
                = t('trips.show.activities')
                %a{class: 'pull-right', href: 'javascript:void(0);', 'ng-click' => 'toggleActivities()'}
                  %span{'ng-show' => '!activitiesCollapsed'}
                    = fa_icon 'arrow-down'
                  %span{'ng-show' => 'activitiesCollapsed'}
                    = fa_icon 'arrow-right'
              %th{class: 'col-md-2', 'ng-show' => 'show_comments'}
                = t('trips.show.comments')

          %tbody
            - @trip.days.each_with_index do |day, day_index|
              %tr{'ng-controller' => 'DaysController', 'ng-init' => "setDay(#{day_index}, #{day.to_json})", class: 'plan-row'}
                %td
                  = day.date_when_s
                %td{'ng-show' => 'show_place', 'ng-mouseleave' => 'mouse_over_place = false',
                                               'ng-mouseenter' => 'mouse_over_place = true'}
                  %span{'ng-cloak' => ''}
                    = render 'trips/partials/place'
                %td{'ng-show' => 'show_transfers', 'ng-mouseleave' => 'mouse_over_transfers = false',
                                                   'ng-mouseenter' => 'mouse_over_transfers = true'}
                  %span{'ng-cloak' => ''}
                    = render 'trips/partials/transfer'
                %td{'ng-show' => 'show_hotel', 'ng-mouseleave' => 'mouse_over_hotel = false',
                                               'ng-mouseenter' => 'mouse_over_hotel = true'}
                  %span{'ng-cloak' => ''}
                    = render 'trips/partials/hotel'
                %td{'ng-show' => 'show_activities', 'ng-mouseleave' => 'mouse_over_activities = false',
                                                    'ng-mouseenter' => 'mouse_over_activities = true'}
                  %span{'ng-cloak' => ''}
                    = render 'trips/partials/activity'
                %td{'ng-show' => 'show_comments', 'ng-mouseleave' => 'mouse_over_comments = false',
                                                  'ng-mouseenter' => 'mouse_over_comments = true'}
                  %span{'ng-cloak' => ''}
                    = render 'trips/partials/comment'
      .col-md-1
