%div{'ng-init' => "createDays(#{@trip.days.count}, #{@trip.to_json}, #{@trip.budget_sum(current_user.try(:currency))})", 'ng-cloak' => ''}
  .row
    .col-md-12
      = render 'trips/partials/buttons'
      = render 'trips/partials/tabs'
  .row
    .col-md-12
      = render 'trips/partials/watching_users'
  .row.plan-header-second-row
    .col-md-12
      = render 'trips/partials/budget'
      %div{class: "list-group list-group-horizontal pull-right"}
        %a{class: "list-group-item",
                         'ng-click' => 'changeVisibility("show_place")',
                         'ng-class' => '{active: show_place}',
                         'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.place')}
          %span{'ng-show' => 'show_place'}
            = fa_icon 'check-square-o'
          %span{'ng-show' => '!show_place'}
            = fa_icon 'square-o'
          = fa_icon 'map-marker'
        %a{class: "list-group-item",
                         'ng-click' => 'changeVisibility("show_transfers")',
                         'ng-class' => '{active: show_transfers}',
                         'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.transfers')}
          %span{'ng-show' => 'show_transfers'}
            = fa_icon 'check-square-o'
          %span{'ng-show' => '!show_transfers'}
            = fa_icon 'square-o'
          = fa_icon 'car'
        %a{class: "list-group-item",
                         'ng-click' => 'changeVisibility("show_hotel")',
                         'ng-class' => '{active: show_hotel}',
                         'data-toggle' => "tooltip", 'data-placement' => "bottom", title: t('trips.show.hotel')}
          %span{'ng-show' => 'show_hotel'}
            = fa_icon 'check-square-o'
          %span{'ng-show' => '!show_hotel'}
            = fa_icon 'square-o'
          = fa_icon 'home'

  %table.table.table-black-bordered.fixed-head.plan-table
    %thead.plan-affix
      %tr
        %th{class: 'col-md-1'}
          = t('trips.show.day')
        %th{class: 'col-md-2', 'ng-show' => 'show_place'}
          = t('trips.show.place')
        %th{class: 'col-md-6', 'ng-show' => 'show_transfers'}
          = t('trips.show.transfers')
          %a{class: 'pull-right', href: 'javascript:void(0);', 'ng-click' => 'toggleTransfers()'}
            %span{'ng-show' => '!transfersCollapsed'}
              = fa_icon 'arrow-down'
            %span{'ng-show' => 'transfersCollapsed'}
              = fa_icon 'arrow-right'
        %th{class: 'col-md-3', 'ng-show' => 'show_hotel'}
          = t('trips.show.hotel')
          - if @user_can_edit
            %a{href: 'javascript:void(0);', 'ng-click' => 'savePlan()',
                class: 'pull-right', 'ng-show' => '!saving', 'data-placement' => "bottom",
                'data-toggle' => 'tooltip', title: t('trips.show.save_plan')}
              = fa_icon 'save'
            %a.pull-right{'ng-show' => 'saving'}
              %i.fa.fa-spinner.fa-spin
              = t('trips.show.saving_plan')

    %tbody
      - @trip.days.each_with_index do |day, day_index|
        %tr{'ng-controller' => 'DaysController', 'ng-init' => "setDay(#{day_index}, #{day.to_json})", class: 'plan-row'}
          %td
            = day.date_when_s
          %td{'ng-show' => 'show_place', 'ng-mouseleave' => 'mouse_over_place = false',
                                         'ng-mouseenter' => 'mouse_over_place = true'}
            %span{'ng-cloak' => ''}
              = render 'trips/partials/place'
          %td{'ng-show' => 'show_transfers', 'ng-mouseleave' => 'mouse_over_transfers = false',
                                             'ng-mouseenter' => 'mouse_over_transfers = true'}
            %span{'ng-cloak' => ''}
              = render 'trips/partials/transfer'
          %td{'ng-show' => 'show_hotel', 'ng-mouseleave' => 'mouse_over_hotel = false',
                                         'ng-mouseenter' => 'mouse_over_hotel = true'}
            %span{'ng-cloak' => ''}
              = render 'trips/partials/hotel'
