<div class="span" ng-controller="ReportController" ng-init="init('<%= @trip.id %>')" ng-cloak="true">
  <div class="work-area-header">
    <div class="row">
      <div class="col-md-12">
        <%= render 'trips/partials/tabs' %>
      </div>
    </div>
    <%= render 'trips/partials/watching_users' %>
    <%= render 'trips/partials/budget' %>
    <div class="row sticky-row" sticky="true">
      <div class="col-md-12">
        <%= render 'trips/partials/buttons' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <article class="trip-report" ng-show="report_loaded">
        <div ng-show="!edit">
          <p class="travel-text" ng-show="report">{{report}}</p>
          <div class="empty-report" ng-hide="report">
            <div class="description">
              <%= t('trips.show.no_report') %>
            </div>
          </div>
        </div>
        <div ng-show="edit" class="form-group">
          <%= text_area_tag 'day_comment', '', 'ng-model' => 'report', class: 'form-control', placeholder: t('trips.show.comment'), rows: 40 %>
        </div>
      </article>
      <article class="trip-report" ng-hide="report_loaded">
        <div class="report-mockup">
          <div class="report-line"></div>
          <div class="report-line"></div>
          <div class="report-line"></div>
          <div class="report-line"></div>
          <div class="report-line"></div>
          <div class="report-line"></div>
          <div class="report-line"></div>
          <div class="report-line"></div>
        </div>
      </article>
    </div>
  </div>
</div>
