.span{'ng-controller' => 'ReportController', 'ng-init' => "init('#{@trip.id}')"}
  .work-area-header
    .row
      .col-md-12
        = render 'trips/partials/tabs'
    = render 'trips/partials/watching_users'
    = render 'trips/partials/budget'
    .row
      .col-md-12
        = render 'trips/partials/buttons'

  .row
    .col-md-12
      %article.trip-report{'ng-show' => 'report_loaded', 'ng-cloak' => ''}
        %div{'ng-show' => '!edit'}
          %p.travel-text{'ng-show' => 'report'} {{report}}
          .empty-report{'ng-hide' => 'report'}
            .description
              = t('trips.show.no_report')

        %div{'ng-show' => 'edit', class: 'form-horizontal'}
          %div{class: 'form-group'}
            = text_area_tag 'day_comment', '', 'ng-model' => 'report', class: 'form-control',
              placeholder: t('trips.show.comment'), rows: 40

      %article.trip-report{'ng-hide' => 'report_loaded'}
        .report-mockup
          .report-line
          .report-line
          .report-line
          .report-line
          .report-line
          .report-line
          .report-line
          .report-line
