.span{'ng-init' => "createDays(0, #{@trip.to_json})"}
  .row{'ng-cloak' => ''}
    .col-md-12
      = render 'trips/partials/buttons'
      = render 'trips/partials/tabs'
  .row
    .col-md-12{'ng-cloak' => ''}
      %p
      %big
        = render 'trips/partials/watching_users'
  .row{'ng-cloak' => ''}
    .col-md-12
      %article.trip-report
        %p.header
          = t('trips.show.report')

        %p.travel-text{'ng-show' => '!edit'} {{trip.comment || '#{t('trips.show.no_report')}'}}
        %div{'ng-show' => 'edit', class: 'form-horizontal'}
          %div{class: 'form-group'}
            = text_area_tag 'day_comment', '', 'ng-model' => 'trip.comment', class: 'form-control',
              placeholder: t('trips.show.comment'), rows: 40
