= render layout: 'common/user_profile_layout', locals: {page: :edit} do
  = form_for @user, html: {class: 'form-horizontal'} do |f|

    %fieldset{class: 'col-md-8'}

      = error_messages! @user

      %div{class: 'form-group'}
        = f.label :home_town, class: 'control-label col-md-3'
        %div{class: 'col-md-9'}
          = f.text_field :home_town, class: 'form-control'

      %div{class: 'form-group'}
        = f.label :locale, class: 'control-label col-md-3'
        %div{class: 'col-md-9'}
          = f.select :locale, options_for_select([%w(English en), %w(Русский ru)], @user.locale || params[:locale].to_s), {}, {class: 'form-control selectpicker input-small'}

      %div{class: 'form-group pull-right'}
        %div{class: 'col-md-12'}
          = f.submit t('common.save'), class: 'btn btn-primary'
