<% content_for :title, @user.full_name %>

<% content_for :page_javascript do %>
    <%= render 'components/users/user_info' %>
    <%= render 'components/users/user_trips' %>
<% end %>

<div class="user-profile-header-wrapper">
  <div class="user-profile-header">
    <div class="container">
      <user-info user-id="'<%= @user.id %>'" edit="<%= @edit %>"></user-info>
    </div>
  </div>
</div>

<div class="container user-profile">
  <user-trips user-id="'<%= @user.id %>'" path="'planned_trips'" header="'<%= t('users.show.planned_trips') %>'"></user-trips>
  <user-trips user-id="'<%= @user.id %>'" path="'finished_trips'" header="'<%= t('users.show.finished_trips') %>'"></user-trips>
</div>
