<% content_for :title, @user.full_name %>

<% content_for :page_javascript do %>
    <%= render 'components/users/user_info' %>
    <%= render 'components/users/user_trips' %>
    <%= render 'components/users/user_map' %>
    <%= render 'components/users/manual_cities' %>
    <%= render 'components/users/tabs/map' %>
    <%= render 'components/users/tabs/trips' %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.js'></script>
    <script type="text/javascript">
      mapboxgl.accessToken = '<%= Settings.mapbox.token %>';
    </script>
<% end %>

<% content_for :page_stylesheet do %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.25.1/mapbox-gl.css' rel='stylesheet' />
<% end %>

<div ng-controller="UserProfileController">
  <div class="user-profile-header-wrapper">
    <div class="user-profile-header">
      <div class="container">
        <user-info user-id="'<%= @user.id %>'" edit="<%= @edit %>"></user-info>
      </div>
      <div class="user-profile-tabs">
        <div class="container">
          <ul class="nav nav-tabs">
            <li>
              <a ui-sref="user_trips" ui-sref-active="active" href="javascript:void(0);">
                <%= inline_svg 'users/trips.svg', class: 'tab-image transfers-img' %>
                <%= t('users.show.trips') %>
              </a>
            </li>
            <li>
              <a ui-sref="user_map" ui-sref-active="active" href="javascript:void(0);">
                <%= inline_svg 'users/map.svg', class: 'tab-image map-img' %>
                <%= t('users.show.map') %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div ui-view class="user-profile-area"></div>
</div>
