- id ||= nil
- link_default_text ||= nil
- model ||= nil

%a{id: id, class: 'dropdown-toggle', role: 'button', 'data-toggle' => 'dropdown', 'data-target' => '#', href: 'javascript:void(0);'}
  = "{{#{model} | date:'dd.MM.yyyy HH:mm':'UTC' }}"
  %span{'ng-show' => "!#{model}"}
    = link_default_text
%ul{class: 'dropdown-menu', role: 'menu', 'aria-labelledby' => 'dLabel'}
  %datetimepicker{'data-ng-model'=> model,
    'data-datetimepicker-config' => "{ dropdownSelector: '##{id}', weekStart: 1 }"}
