- name ||= 'field'
- placeholder ||= ''
- object ||= ''

- ng_model = "#{object_model}.amount_cents"
- currency_text_model = "#{object_model}.amount_currency_text"
- group_class ||= 'input-group-sm'
- input_class ||= 'input-sm'

%div{class: "input-group #{group_class}"}
  %div{class: 'input-group-addon', 'ng-controller' => 'CurrencyInputController'}
    %span.dropdown-toggle{type: 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true',
      'aria-expanded' => false}
      {{#{currency_text_model}}}
      %span.caret
    %ul.dropdown-menu
      - CurrencyHelper.currencies_select(current_user.try(:currency), @trip.currency).each do |currency_data|
        %li
          %a{'ng-click' => "selectCurrency(#{object_model}, '#{currency_data[1]}', '#{currency_data[2]}')",
          href: 'javascript:void(0);'}
            = currency_data[0]
  = text_field_tag name, '', 'ng-model' => ng_model, class: "#{input_class} form-control", placeholder: placeholder,
  'float-number' => 'true', max: '2000000000'
