<% name ||= 'field' %>
<% placeholder ||= '' %>
<% ng_model = "#{object_model}.amount_cents" %>
<% currency_text_model = "#{object_model}.amount_currency_text" %>
<% group_class ||= 'input-group-sm' %>
<% input_class ||= 'input-sm' %>
<div class="input-group <%= group_class %>">
  <div class="input-group-addon" ng-controller="CurrencyInputController">
    <span aria-expanded="<%= false %>" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" type="button">
      {{<%= currency_text_model %>}}
      <span class="caret"></span>
    </span>
    <ul class="dropdown-menu">
      <% CurrencyHelper.currencies_select(current_user.try(:currency), @trip.currency).each do |currency_data| %>
        <li>
          <a href="javascript:void(0);" ng-click="selectCurrency(<%= object_model %>, '<%= currency_data[1] %>', '<%= currency_data[2] %>')">
            <%= currency_data[0] %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <%= text_field_tag name, '', 'ng-model' => ng_model, class: "#{input_class} form-control", placeholder: placeholder, 'float-number' => 'true', max: '2000000000' %>
</div>
