- trip ||= nil

- unless trip.blank?
  .thumbnail.clearfix{class: trip_status_class(trip.status_code)}
    %div{class: 'clearfix'}
      %a{href: trip_path(trip)}
        %img{class: 'img-responsive',
          src: trip.image_url_or_default,
          width: '100%'}
    %div{class: 'caption'}
      %h4
        = link_to trip.name, trip_path(trip)
        %small
          = l trip.start_date, format: :month
      = "#{t('.author')}:"
      - unless trip.author.blank?
        = link_to trip.author.full_name, user_path(trip.author)
      %br
