%ul{class: 'nav nav-pills nav-stacked well'}
  %li{class: ('active' if page == :show)}
    = link_to user_path(@user) do
      = fa_icon 'user', text: t('common.profile')
    - if @user == current_user
      %li{class: ('active' if page == :edit)}
        = link_to edit_user_path(@user) do
          = fa_icon 'gear', text: t('common.settings')
      %li{class: ('active' if page == :edit_devise)}
        = link_to edit_user_registration_path do
          = fa_icon 'edit', text: t('common.edit_user')
      %li
        = link_to destroy_user_session_path, method: :delete do
          = fa_icon 'sign-out', text: t('common.sign_out')
