- transparent ||= false
%header{class: "navbar navbar-default navbar-first-mobile #{'navbar-transparent' if transparent}"}
  %div{class: 'container'}

    %nav
      %ul{class: 'nav navbar-nav'}
        = link_to t('.apptitle'), root_path, {class: 'navbar-brand hidden-xs'}
        = link_to root_path, {class: 'navbar-brand hidden-sm hidden-md hidden-lg'} do
          = image_tag 'logo.svg'


      %ul{class: 'nav navbar-nav navbar-right'}
        - if user_signed_in?
          %li
            = link_to new_trip_path, class: 'add-trip-header-btn hidden-xs' do
              = t('trips.index.create')
            = link_to new_trip_path, class: 'add-trip-header-btn-image hidden-sm hidden-md hidden-lg' do
              = image_tag 'common/add.svg'
        %li.hidden-xs
          = link_to t('.trips'), trips_path
        - if user_signed_in?
          %li.hidden-xs
            = link_to t('.my_trips'), trips_path(my: true)
          %li.hidden-xs
            = link_to t('.my_ideas'), trips_path(my_draft: true)

        = render 'layouts/partials/locale_bar'
        = render 'layouts/partials/notifications'
        = render 'layouts/partials/user_navbar'

%div{class: "navbar navbar-default navbar-second-mobile hidden-sm hidden-md hidden-lg #{'navbar-transparent' if transparent}"}
  %div{class: 'container'}
    %ul{class: 'nav navbar-nav'}
      %li
        = link_to t('.trips'), trips_path
      - if user_signed_in?
        %li
          = link_to t('.my_trips'), trips_path(my: true)
        %li
          = link_to t('.my_ideas'), trips_path(my_draft: true)
