- transparent ||= false
%header{class: "navbar navbar-default #{'navbar-transparent' if transparent}", 'ng-controller' => 'NotificationsController'}
  %div{class: 'container'}

    %div{class: 'navbar-header'}
      = link_to t('.apptitle'), root_path, {class: 'navbar-brand'}

    %nav
      %ul{class: 'nav navbar-nav'}

      %ul{class: 'nav navbar-nav navbar-right'}
        - if user_signed_in?
          %li
            = link_to new_trip_path, class: 'add-trip-header-btn' do
              = t('trips.index.create')
        %li
          = link_to t('.trips'), trips_path
        - if user_signed_in?
          %li
            = link_to t('.my_trips'), trips_path(my: true)
          %li
            = link_to t('.my_ideas'), trips_path(my_draft: true)

        = render 'layouts/partials/locale_bar'
        = render 'layouts/partials/notifications'
        = render 'layouts/partials/user_navbar'
