- transparent ||= false
%header{class: "navbar navbar-default #{'navbar-transparent' if transparent}"}
  %div{class: 'container'}

    %div{class: 'navbar-header'}

      %button{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse', class: 'navbar-toggle'}
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}

      = link_to t('.apptitle'), root_path, {class: 'navbar-brand'}

    %nav{class: 'navbar-collapse collapse'}


      %ul{class: 'nav navbar-nav'}

      %ul{class: 'nav navbar-nav navbar-right'}
        %li
          = link_to t('.trips'), trips_path
        - if user_signed_in?
          %li
            = link_to t('.my_trips'), trips_path(my: true)
          %li
            = link_to t('.my_ideas'), trips_path(my_draft: true)
          %li
            = link_to new_trip_path do
              = fa_icon 'plus', text: t('trips.index.create')
        = render 'layouts/partials/locale_bar'
        = render 'layouts/partials/user_navbar'
