- transparent ||= false
%header{class: "navbar navbar-default #{'navbar-transparent' if transparent}"}
  %div{class: 'container'}

    %div{class: 'navbar-header'}

      %button{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse', class: 'navbar-toggle'}
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}
        %span{class: 'icon-bar'}

      = link_to t('.apptitle'), root_path, {class: 'navbar-brand'}

    %nav{class: 'navbar-collapse collapse'}


      %ul{class: 'nav navbar-nav'}

      %ul{class: 'nav navbar-nav navbar-right'}
        %li
          = link_to t('.trips'), trips_path
        = render 'layouts/partials/locale_bar'
        = render 'layouts/partials/user_navbar'
