- if user_signed_in?
  %script{type: 'text/ng-template', id: 'profileMenu.html'}
    %ul.menu-options-popover
      %li.major
        = link_to user_path(current_user) do
          = t('common.profile')
      %li.major
        = link_to edit_user_path(current_user) do
          = t('common.settings')
      %li.major
        = link_to edit_user_registration_path do
          = t('common.edit_user')
      %li.divider
      %li.minor
        = link_to destroy_user_session_path, method: :delete do
          = t('common.sign_out')

  %li.dropdown
    %a{href: '#', class: 'user-menu-toggle', 'uib-popover-template' => "'profileMenu.html'",
        'popover-placement' => 'bottom-right', 'popover-trigger' => 'outsideClick'}
      - if current_user.image_url.present?
        %img.img-circle.img-nav{id: 'profile_image', src: current_user.image_url}
      - else
        .img-circle.img-nav.initials{id: 'profile_image', class: current_user.background_color}
          = current_user.initials
- else
  %li.navbar-trips-link
    = link_to t('common.sign_in'), new_user_session_path
