- profile_width = '12'

%div{class: 'row well'}
  %div{class: "col-md-#{profile_width}"}
    %div{class: 'login-profile-panel panel'}
      .fileupload-form{'data-maxuploadsize' => '5000000'}
        - if user_signed_in? && current_user == @user
          = form_for @user, url: upload_photo_user_path(@user), method: :post, multipart: true, remote: true do |f|
            = f.hidden_field :remove_image, value: 'true'
            = link_to '', class: 'delete-user-image-button delete-image settings-link settings-link-position',
                'data-confirm' => t('.delete_photo_cofirm') do
              = fa_icon 'times', text: ''

          = form_for @user, url: upload_photo_user_path(@user), method: :post, multipart: true do |f|
            = f.file_field :image, class: 'fileupload'
            = link_to 'javascript:void(0)', class: 'upload-user-image-button upload-link settings-link settings-link-position' do
              = fa_icon 'upload'
          .settings-link-position.user-profile-links
            = link_to user_path(@user), class: 'settings-link' do
              = t('common.profile')
            = link_to edit_user_path(@user), class: 'settings-link' do
              = t('common.settings')
            = link_to edit_user_registration_path, class: 'settings-link' do
              = t('common.edit_user')
            = link_to destroy_user_session_path, method: :delete, class: 'settings-link' do
              = t('common.sign_out')
        - if @user.image_url.present?
          %img.login-profile-pic.profile-pic.img-circle.pic{id: 'profile_image', src: @user.image_url_or_default}
        - else
          .login-profile-pic.profile-pic.img-circle.pic.initials{id: 'profile_image', class: @user.background_color}
            = @user.initials

      %div{class: 'login-profile-name name'}
        %small
          = @user.full_name
    .progress-wrapper
      .progress
        .progress-bar{role: "progressbar"}
    .photo-processing
      %i.fa.fa-spinner.fa-spin
      = t('common.photo_processing')

    = yield